.all {
width: 300px;
height: 70px;
margin: 10px auto;
position: relative;
}
.bar {
width: 300px;
height: 10px;
border-radius: 10px;
background: #aaa;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
cursor: pointer;
}

.box {
width: 20px;
height: 20px;
background: #000;
position: absolute;
bottom: 0;
top: 0;
margin: auto 0;
border-radius: 50%;
cursor: pointer;
transition: left 0.1s linear 0s;
}
.demo-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 671px;
    /*filter:Alpha(opacity=50);*/
    background-color: rgba(0,0,0,0.4); /*实现透明背景*/
    display: none;
}
button{

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background:ivory;
    margin: 20px 0 0 40px;
    position: relative;
    border: 0;
    box-shadow:  2px 2px 10px dimgrey;
    -webkit-box-shadow:  2px 2px 10px dimgrey;
    -moz-box-shadow:  2px 2px 10px dimgrey;
}
button:hover{
    background:lightgray;
}
.demo-txt{
    position: relative;
    z-index: 1;
    color: #000;
    background: white;
    width: 30%;

    margin:auto;
    padding: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#btn{
position:absolute;
    right:20px;
    bottom:5px;
    width:60px;
    border:1px;
height: 30px;
}





.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title .title {
  display: inline-block;
  margin: 0px;
}



.a-upload{
                padding: 4px 10px;
                /*height: 34px;*/
                line-height: 28px;
                position: relative;
                cursor: pointer;
                color: #fff;
                background-color: #286090;
                border-color: #204d74;
                border-radius: 4px;
                overflow: hidden;
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }
.a-upload input{
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                cursor: pointer
            }
.a-upload:hover{
                color: #FFFFFF;
                background: #337ab7;
                border-color: #204d74;
                text-decoration: none;
            }
.select_bar{
        padding:20px;
        position:relative;
        color:black;

    }
.draw_bar{
        width:100%;
         position:relative;
    }
.draw_bar .draw_inf {
      margin: 15px 0px;
      -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
      box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      width:350px;
      height:450px;
      display:inline-block;
      margin: 10px;
}

.draw_inf:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #1e1f29;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #1e1f29;
}


.draw_bar .draw_inf .draw {
    position: relative;
    width:350px;
    height:350px;
}

.draw_bar .draw_inf .draw>div {
    width: 100%;
    height:300px;
}

.draw_bar .draw_inf .draw svg{
    background: white;
    text-align: center;
    align-content: center;
    margin:10px;
    }
.draw_bar .draw_inf .draw .draw_label {
  position: absolute;
  top: 15px;
  right: 15px;
    width:200px;
    height:50px;
display:inline;
     background-color: #FFF;
  border-color: #D10024;
  color:#1e1f29;
}

.draw_bar .draw_inf .draw .draw_label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;

}
.draw_bar .draw_inf .draw .draw_label>span.draw_id {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.draw_bar .draw_inf .draw_inf_body {
  position: relative;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
    width:350px;
    height:80px;
    padding: 10px;
}

.draw_bar .draw_inf .draw_inf_body .cluster_way_inf {
    font-size: 15px;
    color: #8D99AE;
    color:black;
    background: white;
    text-align: center;
    overflow: hidden;
    height:50px;
    line-height: 18px;
}

.draw_bar .draw_inf .draw_inf_body .cluster_way {
  font-size: 12px;
  color: #8D99AE;
}

.draw_bar .draw_inf .draw_inf_body .cluster_way_parameter {
    font-size: 14px;
    margin: 0;
}

.draw_bar .draw_inf .draw_inf_body .draw_operators>div {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
    display: inline-block;
}

.draw_bar .draw_inf .draw_inf_body .draw_operators>div:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}

.draw_bar .draw_inf .draw_inf_body .draw_operators>div .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background:  #FFF;
  color:#1e1f29;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.draw_bar .draw_inf .draw_inf_body .draw_operators>div:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}
.upload{
    display:inline-block;
}
.upload>div {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
    display: inline-block;
}
 .upload>div:hover::after {
    content: attr(data-title);    //取到data-title属性的值
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    position: absolute;
    top: -50px;
    right: -30px;
     width: 120px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
}