.leftDiv{
	width:150px;
	height:150px;
	float:left;
	border: 1px solid gray;
	margin-bottom:5px;

}
.rightDiv{
	width: 750px;
	height: 150px;
	border: 1px solid gray;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
    vertical-align:middle;
    float:left;
}