<!--因为echart的大小在画的时候就已经确定了，所以说当窗口的大小进行改变的时候，echart也要重新画一遍，这样才不会使布局变得奇怪-->
<div class="container-fluid am-cf" data-type="chart">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 图表
                <small>Amaze UI</small>
            </div>
            <p class="page-header-description">图表组件使用的是 <a href="http://echarts.baidu.com">百度图表echarts</a>。</p>
        </div>
        <div class="am-u-lg-3 tpl-index-settings-button">
            <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
        </div>
    </div>

</div>

<div class="row-content am-cf">
    <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl">用户增量</div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body am-fr">
            <div style="height: 400px" class="" id="tpl-echarts-A">
            </div>
        </div>
    </div>


    <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl">收入构成</div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body am-fr">
            <div style="height: 400px" id="tpl-echarts-B">

            </div>
        </div>
    </div>


    <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl">统计量</div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body am-fr">
            <div style="height: 400px" id="tpl-echarts-C">
            </div>
        </div>
    </div>
</div>
<script>
    var echartsC = echarts.init(document.getElementById('tpl-echarts-C'));
    optionC = {
        tooltip: {
            trigger: 'axis'
        },

        legend: {
            {#data: ['蒸发量', '降水量', '平均温度']#}
            data: ['会员增量', '用户增量', '收入']
        },
        xAxis: [{
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        }],
        yAxis: [{
            type: 'value',
            name: '人数',
            min: 0,
            max: 250,
            interval: 50,
            axisLabel: {
                formatter: '{value} 百人'
            }
        },
            {
                type: 'value',
                name: '收入',
                min: 0,
                max: 25,
                interval: 5,
                axisLabel: {
                    formatter: '{value} 万元'
                }
            }
        ],
        series: [{
            name: '会员增量',
            type: 'bar',
            data: [24.0, 4.9, 37.0, 23.2, 25.6, 16.7, 13.6, 62.2, 32.6, 12.0, 66.4, 13.3]
        },
            {
                name: '用户增量',
                type: 'bar',
                data: [222.6, 145.9, 179.0, 126.4, 128.7, 170.7, 175.6, 182.2, 248.7, 118.8, 168.0, 122.3]
            },
            {
                name: '收入',
                type: 'line',
                yAxisIndex: 1,
                data: [22.0, 12.2, 13.3, 14.5, 16.3, 10.2, 20.3, 23.4, 23.0, 16.5, 22.0, 16.2]
            }
        ]
    };

    echartsC.setOption(optionC);

    var echartsB = echarts.init(document.getElementById('tpl-echarts-B'));
    optionB = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            x: 'center',
            {#data: ['某软件', '某主食手机', '某水果手机', '降水量', '蒸发量']#}
            data: ['收入来源', '会员构成', '会员消费构成', '会员增量', '用户增量']
        },
        radar: [{
            indicator: [
                {text: '会费', max: 100},
                {text: '优质报告', max: 100},
                {text: '专家报告', max: 100},
                {text: '代码嵌入', max: 100}
            ],
            center: ['25%', '40%'],
            radius: 80
        },
            {
                indicator: [
                    {text: '普通', max: 100},
                    {text: '白银', max: 100},
                    {text: '黄金', max: 100},
                    {text: '铂金', max: 100},
                    {text: '管理', max: 100}
                ],
                radius: 80,
                center: ['50%', '60%'],
            },
            {
                indicator: (function () {
                    var res = [];
                    for (var i = 1; i <= 12; i++) {
                        res.push({text: i + '月', max: 250});
                    }
                    return res;
                })(),
                center: ['75%', '40%'],
                radius: 80
            }
        ],
        series: [{
            type: 'radar',
            tooltip: {
                trigger: 'item'
            },
            itemStyle: {normal: {areaStyle: {type: 'default'}}},
            data: [{
                value: [60, 73, 85, 40],
                name: '收入来源'
            }]
        },
            {
                type: 'radar',
                radarIndex: 1,
                data: [{
                    value: [85, 90, 90, 95, 95],
                    name: '会员构成'
                },
                    {
                        value: [95, 80, 95, 90, 93],
                        name: '会员消费构成'
                    }
                ]
            },
            {
                type: 'radar',
                radarIndex: 2,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: [{
                    name: '会员增量',
                    value: [24.0, 4.9, 37.0, 23.2, 25.6, 16.7, 13.6, 62.2, 32.6, 12.0, 66.4, 13.3],
                },
                    {
                        name: '用户增量',
                        value: [222.6, 145.9, 179.0, 126.4, 128.7, 170.7, 175.6, 182.2, 248.7, 118.8, 168.0, 122.3]
                    }
                ]
            }
        ]
    };
    echartsB.setOption(optionB);
    var echartsA = echarts.init(document.getElementById('tpl-echarts-A'));
    option = {

        tooltip: {
            trigger: 'axis',
        },
        legend: {
            {#data: ['邮件', '媒体', '资源']#}
            data: ['白银', '黄金', '铂金']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            boundaryGap: true,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        }],

        yAxis: [{
            type: 'value'
        }],
        series: [{
            name: '白银',
            type: 'line',
            stack: '总量',
            areaStyle: {normal: {}},
            data: [120, 132, 101, 134, 90, 230, 210],
            itemStyle: {
                normal: {
                    color: '#59aea2'
                },
                emphasis: {}
            }
        },
            {
                name: '黄金',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data: [220, 182, 191, 234, 290, 330, 310],
                itemStyle: {
                    normal: {
                        color: '#e7505a'
                    }
                }
            },
            {
                name: '铂金',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data: [150, 232, 201, 154, 190, 330, 410],
                itemStyle: {
                    normal: {
                        color: '#32c5d2'
                    }
                }
            }
        ]
    };
    echartsA.setOption(option);
</script>