<div class="container-fluid am-cf" data-type="index">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 首页
                <small>Data Workshop</small>
            </div>
            <p class="page-header-description">系统会员消费统计信息及其他主要信息</p>
        </div>
        <div class="am-u-lg-3 tpl-index-settings-button">
            <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
        </div>
    </div>

</div>

<div class="row-content am-cf">
    <div class="row  am-cf">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">月度财务收支计划</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-fl">
                        <div class="widget-fluctuation-period-text">
                            ￥61746.45
                            <button class="widget-fluctuation-tpl-btn">
                                <i class="am-icon-calendar"></i>
                                更多月份
                            </button>
                        </div>
                    </div>
                    <div class="am-fr am-cf">
                        <div class="widget-fluctuation-description-amount text-success" am-cf>
                            +￥30420.56

                        </div>
                        <div class="widget-fluctuation-description-text am-text-right">
                            8月份收入
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
            <div class="widget widget-primary am-cf">
                <div class="widget-statistic-header">
                    本季度利润
                </div>
                <div class="widget-statistic-body">
                    <div class="widget-statistic-value">
                        ￥27,294
                    </div>
                    <div class="widget-statistic-description">
                        本季度比去年多收入 <strong>2593元</strong> 人民币
                    </div>
                    <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
            <div class="widget widget-purple am-cf">
                <div class="widget-statistic-header">
                    本年度利润
                </div>
                <div class="widget-statistic-body">
                    <div class="widget-statistic-value">
                        ￥250,294
                    </div>
                    <div class="widget-statistic-description">
                        本年度比去年多收入 <strong>35,930元</strong> 人民币
                    </div>
                    <span class="widget-statistic-icon am-icon-support"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-8">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">新增会员情况</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">

                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-4">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">专用服务器负载</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body widget-body-md am-fr">

                    <div class="am-progress-title">服务器1 <span class="am-fr am-progress-title-more">28% / 100%</span>
                    </div>
                    <div class="am-progress">
                        <div class="am-progress-bar" style="width: 15%"></div>
                    </div>
                    <div class="am-progress-title">服务器2<span class="am-fr am-progress-title-more">73% / 100%</span>
                    </div>
                    <div class="am-progress">
                        <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                    </div>
                    <div class="am-progress-title">服务器3 <span class="am-fr am-progress-title-more">40% / 100%</span>
                    </div>
                    <div class="am-progress">
                        <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
            <div class="tpl-user-card am-text-center widget-body-lg">
                <div class="tpl-user-card-title">
                    John
                </div>
                <div class="achievement-subheading">
                    月度最佳员工
                </div>
                <img class="achievement-image" src="/static/assets/img/user07.png" alt="">
                <div class="achievement-description">
                    John在
                    <strong>30天内</strong> 处理了
                    <strong>200多</strong>人的后台消息。
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

            <div class="widget am-cf widget-body-lg">

                <div class="widget-body  am-fr">
                    <div class="am-scrollable-horizontal ">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black "
                               id="example-r">
                            <thead>
                            <tr>
                                <th>报告标题</th>
                                <th>作者</th>
                                <th>功能</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td>关于汽车使用年限的统计记录</td>
                                <td>张鹏飞</td>
                                <td>统计</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>根据电视节目习惯对不同用户的分类</td>
                                <td>天纵之人</td>
                                <td>聚类</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>Big Data Analysis on Students' Entrepreneurship</td>
                                <td>Candy</td>
                                <td>PROJECTION</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Visualization analysis of e-commerce trends</td>
                                <td>mia</td>
                                <td>visualization</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>关于计算机语言的分析</td>
                                <td>醉里挑灯看键</td>
                                <td>统计</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var echartsA = echarts.init(document.getElementById('tpl-echarts'));
    option = {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            top: '3%',
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        }],
        yAxis: [{
            type: 'value'
        }],
        textStyle: {
            color: '#838FA1'
        },
        series: [{
            name: '新增会员',
            type: 'line',
            stack: '总量',
            areaStyle: {normal: {}},
            data: [12, 13, 10, 13, 9],
            itemStyle: {
                normal: {
                    color: '#1cabdb',
                    borderColor: '#1cabdb',
                    borderWidth: '2',
                    borderType: 'solid',
                    opacity: '1'
                },
                emphasis: {}
            }
        }]
    };

    echartsA.setOption(option);
    $('#example-r').DataTable({
        bInfo: false, //页脚信息
        dom: 'ti'
    });
</script>