<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HDA</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../static/css/sb-admin.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="/index">Data Workshop</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/upload">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Main</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" href="/statistics">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Statistics</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/projection">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Projection</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/cluster">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Cluster</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/visualization">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Visualization</span>
                </a>
            </li>

        </ul>

    </div>

</nav>

<div class="content-wrapper">

    <div id="userMenu" style="padding: 0px 100px ;">

        <br><br>
        <form role="form" action="/cluster/kmeans">
            <div class="input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="Kmeans">  &nbsp&nbsp&nbsp&nbsp&nbsp n_clusters：&nbsp
                <input class="cc" name="k_clusters" type="text" value="Default{{k_clusters}}">

            </div>
        </form>
        <br>
        <form role="form" action="/cluster/meanshift">
            <div class="input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="MeanShift"> &nbsp&nbsp&nbsp&nbsp&nbsp bandwidth：
                <input class="cc" name="bandwidth" type="text" value="{{bandwidth}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/ap">
            <div class="input-group-lg input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="AffinityPropagation"> &nbsp&nbsp&nbsp&nbsp&nbsp damping：
                <input class="cc " name="damping" type="text" value="{{damping}}">
                &nbsp&nbsp&nbsp&nbsp preference：
                <input class="cc " name="preference" type="text" value="{{preference}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/birch">
            <div class="input-group-lg input-group-lg input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="Birch">&nbsp&nbsp&nbsp&nbsp&nbsp threshold：
                <input class="cc " name="threshold" type="text" value="{{threshold}}">
                &nbsp&nbsp&nbsp&nbsp branching factor：
                <input class="cc " name="branching_factor" type="text" value="{{branching_factor}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/dbscan">
            <div class="input-group-lg input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="DBSCAN"> &nbsp&nbsp&nbsp&nbsp&nbsp eps：
                <input class="cc " name="eps" type="text" value="{{eps}}">
                &nbsp&nbsp&nbsp&nbsp min_samples：
                <input class="cc " name="min_samples" type="text" value="{{min_samples}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/gmm">
            <div class="input-group-lg input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="GaussianMixture"> &nbsp&nbsp&nbsp&nbsp&nbsp n_clusters：&nbsp
                <input class="cc " name="g_clusters" type="text" value="{{g_clusters}}">
                &nbsp&nbsp&nbsp&nbsp covariance_type：
                <input class="cc " name="cov_type" type="text" value="{{cov_type}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/hierarchical">
            <div class="input-group-lg">
                <input class="btn btn-default" type="submit" value="Hierarchical"> &nbsp&nbsp&nbsp&nbsp&nbsp linkage：
                <input class="cc " name="linkage" type="text" value="{{linkage}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/ac">
            <div class="input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="AgglomerativeClustering"> &nbsp&nbsp&nbsp&nbsp&nbsp n_clusters：
                <input class="cc " name="a_clusters" type="text" value="{{a_clusters}}">
            </div>
        </form>
        <br>
        <form role="form" action="/cluster/sc">
            <div class="input-group-lg input-group-lg">
                <input class="btn btn-default" type="submit" value="SpectralClustering"> &nbsp&nbsp&nbsp&nbsp&nbsp n_clusters：
                <input class="cc " type="text" name="s_clusters" value="{{s_clusters}}" size="20">

            </div>
        </form>

    </div>

    <div class="container-fluid">
        <footer class="sticky-footer">
            <div id="container">
                <p>Data Workshop</p>
            </div>
        </footer>
    </div>

    <div class={{ method }}></div>

    <div id="getdata">
        <ul id="name">
            {% for name in data %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>

        <ul id="cluster">
            <li>{{ clusters }}</li>
        </ul>

        <ul id="data_obj">
            {% for data_obj in data_obj %}
                <li  >{{ data_obj }}</li>
            {% endfor %}
        </ul>

        <ul id="method">
            <li>{{ method }}</li>
        </ul>
    </div>

    <div id="report" style="overflow: auto">

    </div>

    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>

</div>

<style>
    .cc{
        height: 33px;
        width: 100px;
        font-family: "微软雅黑";
        font-size: 14px;
        margin-left: 10px;
    }
    .cb{
        margin-left: 10px;
    }
</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">

    colors = ["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"];
    d3Colors = d3.scale.ordinal().range(["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"]);

    arr = document.getElementById("method").getElementsByTagName('li');
    method = '.' + arr[0].innerHTML;

    var arr = document.getElementById("data_obj").getElementsByTagName('li'),rows = [];
    for(var i = 0;i<arr.length;i++){
        arr_str=arr[i].innerHTML;
        var obj = eval('(' + arr_str + ')');
        rows.push(obj)
    }

    dataset=new Array()
    var arr = document.getElementById("name").getElementsByTagName('li'),temp = [];
    for(var i = 0;i<arr.length;i++){
        temp.push(arr[i].innerHTML);
    }
    for(var i = 0; i<temp.length;i++){
        temp1=temp[i].replace('[','');
        temp2=temp1.replace(']','');
        temp3 = temp2.split(",");
        numArray = temp3.map((value)=>{
            return  parseFloat(value);
        });
        dataset.push(numArray);
    }

    arr = document.getElementById("cluster").getElementsByTagName('li');
    temp = arr[0].innerHTML;
    clusters = parseInt(temp);

    indexes = new Array();
    for(j = 0; j < clusters; j++){
        each_cluster_indexes = [];
        for(i = 0; i < dataset.length; i++){
            if(dataset[i][2] == j){
                each_cluster_indexes.push(i);
            }
        }
        indexes.push(each_cluster_indexes)
    }


    body = d3.select('body');
    body.selectAll('#getdata').remove();

    var svgWidth = 600;
    var svgHight = 400;
    var padding =  70;

    // 创建SVG
    var svg = d3.select(method)
        .append('svg')
        .attr('width', svgWidth)
        .attr('height', svgHight);

    // 创建比例尺
    var xScale = d3.scale.linear()
        .domain([d3.min(dataset, function(d) {
            return d[0];
        }), d3.max(dataset, function(d) {
            return d[0];
        })]).range([padding, svgWidth - padding * 2]);

    var yScale = d3.scale.linear()
        .domain([d3.min(dataset, function(d) {
            return d[1];
        }), d3.max(dataset, function(d) {
            return d[1];
        })]).range([svgHight - padding, padding]);

    var rScale = d3.scale.linear()
        .domain([0, d3.max(dataset, function(d) {
            return d[1];
        })]).range([2, 4]);


    var  brush = d3.svg.brush()
        .x(xScale)
        .y(yScale)
        .extent([0, 0], [0, 0])
        .on("brushstart", brushstart)
        .on("brush", brushed)
        .on("brushend", brushend);

    svg.append("g")
        .call(brush)
        .selectAll("rect")
        .style("fill-opacity", 0.1);

  circles =  svg.selectAll('circle')
            .data(dataset)
            .enter()
            .append('circle')
            .attr('cx', function(d) {
                return xScale(d[0]);
            })
            .attr('cy', function(d) {
                return yScale(d[1]);
            })
            .style('stroke','white')
            .attr('r',4)
            .style('fill', function(d) { return d3Colors(d[2]) })
            .data(rows)
            .on("mouseover", function(d,i) {
                key_name=new Array();
                for(var key in d){
                    key_value=key+':'+d[key];
                    key_name.push(key_value)
                }
                table=key_name.toString();
                table_n=table.replace(/,/g,'\n');
                svg.append("title").text('ID:'+ i +"\n"+ table_n).attr("id","Ttitle");
                d3.select(this)
                    .attr("r", 8);
            })
            .on("mouseout", function(d){
                d3.select(this)
                    .attr("r", 4);
                d3.select("#Ttitle").remove();
            });


  function brushstart() {
      svg.selectAll('circle')
          .data(dataset)
          .style("fill", function (d) {
              return d3Colors(d[2]);
          });
  }

  function brushed() {
      var extend = brush.extent();
      var xmin = extend[0][0];
      var xmax = extend[1][0];
      var ymin = extend[0][1];
      var ymax = extend[1][1];

      circles.style("fill", function (d) {
          if(d[0] >= xmin && d[0] <= xmax && d[1] >= ymin && d[1] <= ymax){
              return d3Colors(d[2]);
          }
          else{
              return "grey"
          }
      })
  }

  function brushend() {
      svg.selectAll('circle')
          .data(rows);
  }

</script>

</body>

</html>
