<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery-1.9.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <script src="../static/js/papaparse.js"></script>
    <script src="../static/js/jschardet.min.js"></script>
    <script src="../static/js/cluster_upload.js"></script>
    <script src="../static/js/d3.vs.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="../static/css/cluster_css.css">
    <link rel="stylesheet" type="text/css"  href="../static/css/parallel.css">

    <script src="../static/js/jscolor.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>





    <title>cluster</title>



</head>

<body>
   <div class="navbar custom-navbar navbar-fixed-top"  style='background: black;' role="navigation">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="/" class="navbar-brand"  style="color:white;">TableGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home" class="smoothScroll" style="color:white;">Home</a></li>
                <li><a href="/" class="smoothScroll" style="color:white;">About</a></li>
                <li><a href="/" class="smoothScroll" style="color:white;">Gallery</a></li>
                <li><a href="/" class="smoothScroll" style="color:white;">Contact us</a></li>
                <li>
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img"><a class="page-scroll" href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li><a href="/login/" class="page-scroll"  style="color:white;">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="" style="color:white;">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li>
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>

                    var permi = '' +{{ user.permission }};
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>

    </div>
</div>



   <div class="section" style="padding-top: 100px">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- section title -->
					<div class="col-md-12">

                        <h3 class="title">Cluster</h3>
                        <div class="section-title">
    <div style="margin-left: 40px;display:inline"><select id="cluster_selector">
                <option value="" style="color:black">--cluster--</option>
                <option value="KMeans" title="k-means clustering is a method of vector quantization, originally from signal processing, that is popular for cluster analysis in data mining">KMeans</option>
                <option value="MeanShift" title="Mean shift is a non-parametric feature-space analysis technique for locating the maxima of a density function, a so-called mode-seeking algorithm">MeanShift</option>
                <option value="AffinityPropagation" title='affinity propagation (AP) is a clustering algorithm based on the concept of "message passing" between data points'>AffinityPropagation</option>
                <option value="Birch" title="BIRCH (balanced iterative reducing and clustering using hierarchies) is an unsupervised data mining algorithm used to perform hierarchical clustering over particularly large data-sets.">Birch</option>
                <option value="DBSCAN" title="Density-based spatial clustering of applications with noise (DBSCAN) is a data clustering algorithm proposed by Martin Ester, Hans-Peter Kriegel, Jörg Sander and Xiaowei Xu in 1996">DBSCAN</option>
                <option value="GaussianMixture" title="Mixture model is a probabilistic model for representing the presence of subpopulations within an overall population">GaussianMixture</option>
                <option value="Hierarchical" title="hierarchical clustering (also called hierarchical cluster analysis or HCA) is a method of cluster analysis which seeks to build a hierarchy of clusters">Hierarchical</option>
                <option value="AgglomerativeClustering" title="Agglomerative Clustering">AgglomerativeClustering</option>
                <option value="SpectralClustering" title="spectral clustering techniques make use of the spectrum (eigenvalues) of the similarity matrix of the data to perform dimensionality reduction before clustering in fewer dimensions">SpectralClustering</option>
                  <option value="MiniBatchKMeans" title="a method of vector quantization, originally from signal processing, that is popular for cluster analysis in data mining">MiniBatchKMeans</option>
         <option value="HDBSCAN" title="a method of vector quantization, originally from signal processing, that is popular for cluster analysis in data mining">HDBSCAN</option>
        <option value="User_cluster" title="User_cluster">User method</option>
            </select></div>
    <button id="get_inf" onclick="get_inf()">Wikipedia</button>
    <div class='demo-bg'></div>

        <button id="generate" onclick="generate()">Generate</button>
    <div class='demo-bg'></div>
    <button  id="openDialog" onclick="openDialog()">Parameters</button>
    <div class='demo-bg'></div>
    <div class='demo-txt' id="parameter_select">

                        </div>
                            <form class="upload" style='float:right'>
                               <input type="file" id="cluster_csvfile" style="display:none" name="cluster_csvfile"  onchange="data_file_path.value=this.value">
                               <div id="data_file_path" name="data_file_path" class="fas fa-plus-circle"   onclick="cluster_csvfile.click()" data-title='select your file'></div>
                               <div class='fas fa-upload' onclick="read_cluster_file()" data-title='upload your file'></div>
                                <div  data-title='save your way' style="font-weight: 900">
                                    <a data-toggle="modal" data-target="#login" href="" style="color:black;display:inline-block">
                                        <span class="glyphicon glyphicon-log-in"></span></a>
                                </div>
                           </form>
                            <!--用户上传自己的方法并给它命名-->
    </div>
                       </div>

                </div>
            </div>

</div>
   <!-- 登录窗口 -->
    <div id="login" class="modal fade">
        <div class="modal-dialog" style='width:400px;'>
            <div class="modal-content">
                <div class="modal-body"> <div class="close" data-dismiss="modal"> <span>&times;</span> </div>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">submit</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group" style="padding-bottom: 10px">
                            <p style="display: inline-block;">Name：</p>
                            <input name='user_cluster_name' class="form-control" type="text" style='width:60%;display:inline-block;'placeholder=""> </div>
                        <div class="form-group">
                                <p style="display: inline-block;">Role：</p>
                                <label style="padding-left: 30px;padding-right: 20px"><input name="role" value='public'type="radio" checked /><span></span>public</label>
                                <label><input name="role" value='private' type="radio" /><span></span>private</label>
                        </div>
                        <div class="text-right"> <button class="btn btn-primary" type="submit" onclick="save_user_way()">OK</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="row" style="margin-bottom:20px;margin-top:20px;margin-left:80px;margin-right: 80px">
					<!-- section title -->
                    <div class="col-md-12">
                        <div class="draw_bar" id="draw_bar">

                        </div>
                    </div>
                </div>

    <!--评价指标的画图-->
    <div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- section title -->
					<div class="col-md-12" >
                        <h3 class="title">Evaluation</h3>
                        <button    class="jscolor {valueElement:null,value:'1014'}"    style="border:2px solid black;display:none;border:ivory;"  id ='change_color-1'> color</button>
                        <button    class="jscolor {valueElement:null,value:'1014'}"    style="border:2px solid black;display:none;border:ivory;" id ='change_color-2'> color</button>
                        <div class="section-title">
 <div style="margin-left: 40px;display:inline">
     <select id="evaluation_selector" style="color:black;">
                <option value="" style="color:black">--evaluation--</option>
                <option value="calinski_harabaz" title="calinski_harabaz">calinski_harabaz</option>
                <option value="silhouette" title="silhouette">silhouette</option>
            </select>
 </div>
            <button id="evaluation_generate" onclick="generate_evaluation_pic()">Generate</button>
    <div class='demo-bg'></div>
</div>
                    </div></div></div></div>
    <div class="row" style="margin-bottom:20px;margin-top:20px;margin-left:80px;margin-right: 80px">
					<!-- section title -->
                    <div class="col-md-12">
    <div class="draw_bar" id="draw_evaluation_bar">

</div>
    </div>
                    </div></div>
</body>

<!--get the information about cluster way-->
<script>
window.link={'KMeans':'https://en.wikipedia.org/wiki/K-means_clustering',
        'MeanShift':'https://en.wikipedia.org/wiki/Mean_shift',
        'AffinityPropagation':'https://en.wikipedia.org/wiki/Affinity_propagation',
        'Birch':'https://en.wikipedia.org/wiki/Birch',
        'DBSCAN':'https://en.wikipedia.org/wiki/DBSCAN',
        'GaussianMixture':'https://en.wikipedia.org/wiki/Mixture_model',//需要后期再进一步考证该链接的有效性
        'Hierarchical':'https://en.wikipedia.org/wiki/Hierarchical_clustering',
        'AgglomerativeClustering':'https://en.wikipedia.org/wiki/Hierarchical_clustering',//需要后期再进一步考证该链接的有效性
        'SpectralClustering':'https://en.wikipedia.org/wiki/Spectral_clustering',
    'MiniBatchKMeans':'https://en.wikipedia.org/wiki/K-means_clustering',
    'HDBSCAN':"https://en.wikipedia.org/wiki/DBSCAN",
    }
function get_inf(){
    var url=window.link[$('#cluster_selector option:selected').val()];
    window.open(url);
};
</script>
<!--delete all-->
<script>
    function Delete_all(this_id,draw_or_evaluation){
        var body=document.getElementById('draw_inf'+this_id.toString());
        var _parentElement = body.parentNode;

        //body.innerHTML="";
       //需要考虑动态删除后的布局--------------------------------------------------------------------------
        //document.getElementById('delete_node'+this_id.toString()).style.display='none';
        if(draw_or_evaluation=='draw_bar')
        {
            if(_parentElement){
          _parentElement.removeChild(body);
         }
            draw_counts.push(this_id);
        }
        if(draw_or_evaluation=='draw_evaluation_bar')
        {
            if(_parentElement){
                var change_color=document.getElementById('change_color'+this_id.toString());
                change_color.style.display='none';
                _parentElement.appendChild(change_color);
          _parentElement.removeChild(body);
         }
            evaluation_count.push(this_id);
        }
    };
</script>
<!--画图,svg-->
<script type="text/javascript">
    function ddd(this_id1){
    colors = ["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"];
    d3Colors = d3.scale.ordinal().range(["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"]);

    var arr = document.getElementById("method"+this_id1.toString()).getElementsByTagName('li');
        method = '#' + arr[0].innerHTML;
    var arr = document.getElementById("data_obj"+this_id1.toString()).getElementsByTagName('li'),rows = [];
    for(var i = 0;i<arr.length;i++){
        arr_str=arr[i].innerHTML;
        var obj = eval('(' + arr_str + ')');
        rows.push(obj)
    }

    dataset=new Array()
    var arr = document.getElementById("name"+this_id1.toString()).getElementsByTagName('li'),temp = [];
    for(var i = 0;i<arr.length;i++){
        temp.push(arr[i].innerHTML);
    }
    for(var i = 0; i<temp.length;i++){
        temp1=temp[i].replace('[','');
        temp2=temp1.replace(']','');
        temp3 = temp2.split(",");
        numArray = temp3.map((value)=>{
            return  parseFloat(value);
        });
        dataset.push(numArray);
    }

    var arr = document.getElementById("cluster"+this_id1.toString()).getElementsByTagName('li');
    temp = arr[0].innerHTML;
    clusters = parseInt(temp);
    indexes = new Array();
    for(j = 0; j < clusters; j++){
        each_cluster_indexes = [];
        for(i = 0; i < dataset.length; i++){
            if(dataset[i][2] == j){
                each_cluster_indexes.push(i);
            }
        }
        indexes.push(each_cluster_indexes)
    }


    body = d3.select('#page-top'+this_id1.toString());
    body.selectAll('#getdata').remove();

    var svgWidth = 330;
    var svgHight = 330;
    var padding =  10;

    // 创建SVG
    var svg = d3.select(method)
        .append('svg')
        .attr('width', svgWidth)
        .attr('height', svgHight);

    svg.append('rect')
        .classed("frame", true)
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", svgWidth)
        .attr("height", svgHight)
        .attr('fill', 'none')
        .attr('stroke', '#7b878d');

    // 创建比例尺
    var max_range=d3.max(dataset, function(d) {
            return d[0];
        })-d3.min(dataset, function(d) {
            return d[0];
        });
        var max_range1=d3.max(dataset, function(d) {
            return d[1];
        })-d3.min(dataset, function(d) {
            return d[1];
        });
if(max_range<max_range1)
    max_range=max_range1;
var x_min=d3.min(dataset, function(d) {
            return d[0];
        });
var y_min=d3.min(dataset, function(d) {
            return d[1];
        })
    var xScale = d3.scale.linear()
        .domain([x_min, x_min+max_range]).range([padding, svgWidth - padding * 2]);

    var yScale = d3.scale.linear()
        .domain([y_min, y_min+max_range]).range([svgHight - padding, padding]);
    var rScale = d3.scale.linear()
        .domain([0, d3.max(dataset, function(d) {
            return d[1];
        })]).range([2, 4]);


    var  brush = d3.svg.brush()
        .x(xScale)
        .y(yScale)
        .extent([0, 0], [0, 0])
        .on("brushstart", brushstart)
        .on("brush", brushed)
        .on("brushend", brushend);

    svg.append("g")
        .call(brush)
        .selectAll("rect")
        .style("fill-opacity", 0.1);

  circles =  svg.selectAll('circle')
            .data(dataset)
            .enter()
            .append('circle')
            .attr('cx', function(d) {
                return xScale(d[0]);
            })
            .attr('cy', function(d) {
                return yScale(d[1]);
            })
            .style('stroke','white')
            .attr('r',4)
            .style('fill', function(d) { return d3Colors(d[2]) })
            .data(rows)
            .on("mouseover", function(d,i) {
                key_name=new Array();
                for(var key in d){
                    key_value=key+':'+d[key];
                    key_name.push(key_value)
                }
                table=key_name.toString();
                table_n=table.replace(/,/g,'\n');
                svg.append("title").text('ID:'+ i +"\n"+ table_n).attr("id","Ttitle");
                d3.select(this)
                    .attr("r", 8);
            })
            .on("mouseout", function(d){
                d3.select(this)
                    .attr("r", 4);
                d3.select("#Ttitle").remove();
            });


  function brushstart() {
      svg.selectAll('circle')
          .data(dataset)
          .style("fill", function (d) {
              return d3Colors(d[2]);
          });
  }

  function brushed() {
      var extend = brush.extent();
      var xmin = extend[0][0];
      var xmax = extend[1][0];
      var ymin = extend[0][1];
      var ymax = extend[1][1];

      circles.style("fill", function (d) {
          if(d[0] >= xmin && d[0] <= xmax && d[1] >= ymin && d[1] <= ymax){
              return d3Colors(d[2]);
          }
          else{
              return "grey"
          }
      })
  }

  function brushend() {
      svg.selectAll('circle')
          .data(rows);
  }

    }
</script>
<script>
    function getOffsetLeft(v){
              var tmp = v.offsetLeft;
              var val = v.offsetParent;
              while(val != null){
              tmp += val.offsetLeft;
              val = val.offsetParent;
               }
            return tmp;
};
    function select_num111(j,key,limit){//j是int类型的，需要换成string.limit是三个元素的数组，分别表示起始数值、最大值、间距
         var box = document.getElementById('box'+j.toString());
        var bar = document.getElementById('bar'+j.toString());
        var p = document.getElementById('show_num'+j.toString());
        lenth_b.push(getOffsetLeft(bar));//box与浏览器的左边框的距离
        cha.push(bar.offsetWidth - box.offsetWidth);
       box.onmousedown = function (ev) {
    let boxL = window.lenth_b[j];
    let e = ev || window.event; //兼容性
    let mouseX = e.clientX; //鼠标按下的位置
    window.onmousemove = function (ev) {
    let e = ev || window.event;
    let moveL = e.clientX - mouseX; //鼠标移动的距离
    let newL = boxL + moveL; //left值
    // 判断最大值和最小值
    if (newL < 0) {
    newL = 0;
    }
    if (newL >= window.cha[j]) {
    newL = window.cha[j];//此处待议，会出现box乱跳动的现象
    }
    // 改变left值
    box.style.left = newL + 'px';
    // 计算比例
    let bili = newL /  window.cha[j] * limit[1];
    p.innerHTML = key+': ' + Math.ceil(bili);
    return false //取消默认事件
    };
    window.onmouseup = function () {
    window.onmousemove = false; //解绑移动事件
    return false;
    };
    return false;
    };
    // 点击音量条
    bar.onclick = function (ev) {
    let left = ev.clientX - window.lenth_b[j]- box.offsetWidth / 2;//看一下最左边的距离
    if (left < 0) {
    left = limit[0];
    }
    if (left >= window.cha[j]) {
    left = window.cha[j];
    }
    box.style.left = left + 'px'
    let bili =limit[0]+left / window.cha[j] * (limit[1]-limit[0]);
    if(limit[2]==1)
    {p.innerHTML = key+': ' + Math.ceil(bili);}
    else {
        p.innerHTML = key+': ' + bili.toFixed(1);
    }
    return false;
    };
    };
    </script>
<!--window data-->
<script type="text/javascript">
    window.data = {
                'KMeans':{"cluster":[0,20,1]},
                'MeanShift':{"bandwidth":[0,20,1]},//待议-------------------------
                'AffinityPropagation':{"damping":[0.5,1,0.1],"preference":[0,20,1]},
                'Birch':{'threshold':[0,20,1],'branching_factor':[0,20,1]},
                'DBSCAN':{'eps':[0,1,0.1],'min_samples':[0,20,1]},
        'HDBSCAN':{'min_cluster_size':[0,20,1],'min_samples':[0,20,1],'alpha':[0,1,0.1],'cluster_selection_method':["eom", "leaf"]},
                'GaussianMixture':{'cluster':[0,20,1],'covariance_type':['spherical', 'tied', 'diag', 'full']},
                'Hierarchical':{'linkage':["single",'complete','average']},
                'AgglomerativeClustering':{'cluster':[0,20,1]},
                'SpectralClustering':{'cluster':[0,20,1]},
        'MiniBatchKMeans':{'cluster':[0,20,1],'batch_size':[0,20,1]},
};
window.default = {
                'KMeans':{"cluster":3},
                'MeanShift':{"bandwidth":3},//待议-------------------------
                'AffinityPropagation':{"damping":0.7,"preference":3},
                'Birch':{'threshold':3,'branching_factor':3},
                'DBSCAN':{'eps':3,'min_samples':3},
        'HDBSCAN':{'min_cluster_size':3,'min_samples':3,'alpha':0.5,'cluster_selection_method':"eom"},
                'GaussianMixture':{'cluster':3,'covariance_type':'spherical'},
                'Hierarchical':{'linkage':"single"},
                'AgglomerativeClustering':{'cluster':3},
                'SpectralClustering':{'cluster':3},
        'MiniBatchKMeans':{'cluster':3,'batch_size':3},
};
        $(document).ready(function() {
                $('#cluster_selector').select2();
                $('#evaluation_selector').select2();
                $('#evaluation_selector2').select2();
            });
</script>
<!--调整参数-->
<script>
    window.is_exist_select=false;
    lenth_b=new Array();//存储每个box与浏览器的距离。
    cha=new Array();//存储cha数据
    var demobg = document.querySelector(".demo-bg");
    var demotxt = document.querySelector(".demo-txt");
    select_cluster='无';
    function openDialog() {

        demotxt.style.display = "block";
        demobg.style.display = "block";
        var current_select_cluster=$('#cluster_selector option:selected').val();
        if(current_select_cluster!=select_cluster){
            demobg.innerHTML="";
            demotxt.innerHTML="";
           select_cluster=$('#cluster_selector option:selected').val(); //获取选中的项的value数值
        if (select_cluster=='无')
            select_cluster='KMeans';
        var parameter_select = document.getElementById('parameter_select');//弹出框容器
            var j=0;//用于标记每个参数容器，避免冲突
        for(var key1 in window.data[select_cluster])
        {
		parameter_data=window.data[select_cluster][key1]//该参数的取值范围，有可能是数值区间，也有可能是几个字符串
		if ((typeof parameter_data[0]=='number'))//&&(parameter_data[2]==1 ))
            {
			var all = document.createElement('div');
            all.setAttribute('class','all');
            all.setAttribute('id',"all"+j.toString());
            var p = document.createElement('p');
            p.setAttribute('id','show_num'+j.toString());
            p.setAttribute('name',key1);//将name属性命名成value
            p.setAttribute('class','parameter');//用于获取参数----
            p.innerHTML=key1+': '+parameter_data[0]+'('+parameter_data[0]+'---'+window.data[select_cluster][key1][1]+')';
            var bar = document.createElement('div');
            bar.setAttribute('class','bar');
            bar.setAttribute('id','bar'+j.toString());
            var box = document.createElement('div');
            box.setAttribute('class','box');
            box.setAttribute('id','box'+j.toString());

            bar.appendChild(box);
            all.appendChild(bar);
            all.appendChild(p);
            parameter_select.appendChild(all);
            select_num111(j,key1,window.data[select_cluster][key1]);
            j++;//y用于动态确定元素的id}
        }
        else {//下拉菜单，选择该参数的一种形式
            var all = document.createElement('div');
            all.setAttribute('class','all');
            all.setAttribute('id',"all"+j.toString());

            var parameter_str = document.createElement('select');
            parameter_str.setAttribute('id',"parameter_str"+j.toString());
            parameter_str.setAttribute('class','button_blue');
            parameter_str.setAttribute('onchange','show_selected_parameters("'+"parameter_str"+j.toString()+'","'+'show_num'+j.toString()+'")');
            parameter_str.style.background='ghostwhite';
            parameter_str.style.color='black';
            parameter_str.style.borderBottom='3px solid white';
            parameter_str.style.textAlign='center';
            parameter_str.style.border='black';
            var intro_p = document.createElement('p');
            intro_p.setAttribute('id','show_num'+j.toString());
            intro_p.setAttribute('name',key1);//将name属性命名成value
            intro_p.setAttribute('class','parameter');//用于获取参数----
            intro_p.innerHTML=key1+': ';
            var option = document.createElement('option');
            option.setAttribute('value','--options--');
            option.innerHTML='--options--';
            parameter_str.appendChild(option);
            //parameter_str.select2();
            for (var p in parameter_data)
            {
                var option = document.createElement('option');
                option.setAttribute('value',parameter_data[p]);
                //option.setAttribute('onclick','show_selected_parameters("'+'show_num'+j.toString()+'","'+parameter_data[p]+'")');
                option.innerHTML=parameter_data[p];
                parameter_str.appendChild(option);
            }
            all.appendChild(intro_p);
            all.appendChild(parameter_str)
            parameter_select.appendChild(all);
            j++;
        }
        };
        var button = document.createElement('button');
            button.setAttribute('id','btn');
            button.innerHTML='确定';
            button.setAttribute('onclick','closeDialog()');
            parameter_select.appendChild(button);
        };
    window.is_exist_select=true;//用于标记是否已存在该标记，用户打开其他方法时会将该属性置为false；
    }

    function closeDialog() {
        demotxt.style.display = "none";
        demobg.style.display = "none";
    };
</script>
<!--获取方法和参数，画图-->
<script>
    function create_draw(target_draw_bar_id,j,cluster_way_inf)
    {
         var draw_inf = document.createElement('div');
         draw_inf.setAttribute('class','draw_inf');
         draw_inf.setAttribute('id','draw_inf'+j.toString());

         var draw = document.createElement('div');
         draw.setAttribute('id','draw_'+j.toString());
         draw.setAttribute('class','draw');

         var save=document.createElement('button');
         save.style.color='black';
         save.style.float='right';
         save.innerHTML='Save';
         save.setAttribute('id','save_node'+j.toString());
         save.setAttribute('onclick','save('+j+')');//保存该id用于获取该图片下的聚类方法和参数

         var button = document.createElement('div');//===========================
         button.setAttribute('class','delete_node');
         button.setAttribute('id','delete_node'+j.toString());
         button.setAttribute('onclick',"Delete_all("+j+",'"+target_draw_bar_id+"')");

        var inf = document.createElement('div');
         inf.setAttribute('class','cluster_way_inf');
         inf.setAttribute('id','cluster_way_inf'+j.toString());

         inf.innerHTML=cluster_way_inf;


         draw_inf.appendChild(draw);
         draw_inf.appendChild(save);
         draw_inf.appendChild(inf);
         draw_inf.appendChild(button);



         var draw_bar=document.getElementById(target_draw_bar_id);
         draw_bar.appendChild(draw_inf);


    }


    function create_draw_element(target_draw_bar_id,j,cluster_way_inf_value){


        var draw_inf = document.createElement('div');
         draw_inf.setAttribute('class','draw_inf');
         draw_inf.setAttribute('id','draw_inf'+j.toString());

         var draw = document.createElement('div');
         draw.setAttribute('id','draw_'+j.toString());
         draw.setAttribute('class','draw');

         draw_inf.appendChild(draw);//把画布放进去

        var draw_inf_body = document.createElement('div');
         draw_inf_body.setAttribute('class','draw_inf_body');
         draw_inf_body.setAttribute('id','draw_inf_body'+j.toString());

         var cluster_way_inf = document.createElement('div');
         cluster_way_inf.setAttribute('class','cluster_way_inf');
         cluster_way_inf.setAttribute('id','cluster_way_inf'+j.toString());
         cluster_way_inf.setAttribute('value',cluster_way_inf_value);
         var array=cluster_way_inf_value.split('<br>');
         var show_innerhtml=(array[0].split(': '))[1];
         for(var i=1;i<array.length;i++)
         {
             if(i%2==1){
                 show_innerhtml+='<br>'+array[i];
             }
             if(i%2==0)
             {
                 show_innerhtml+='&nbsp &nbsp'+array[i];
             }

         }
         cluster_way_inf.innerHTML=show_innerhtml;

         var draw_operators = document.createElement('div');
         draw_operators.setAttribute('class','draw_operators');
         draw_operators.setAttribute('id','draw_operators'+j.toString());

         if(target_draw_bar_id!='draw_evaluation_bar'){//当前评价指标里面是没有save功能的
         var draw_operators_save_div = document.createElement('div');//save的div
         draw_operators_save_div.setAttribute('class','far fa-check-circle');
         draw_operators_save_div.setAttribute('id','draw_operators_save_div'+j.toString());
         var draw_operators_save_span = document.createElement('span');
         draw_operators_save_span.setAttribute('class','tooltipp');
         draw_operators_save_span.setAttribute('id','draw_operators_save_span'+j.toString());
         draw_operators_save_span.innerHTML='save and return';
         draw_operators_save_div.appendChild(draw_operators_save_span);
         draw_operators_save_div.setAttribute('onclick','save('+j+')');//保存该id用于获取该图片下的聚类方法和参数
             draw_operators.appendChild(draw_operators_save_div);
}
         var draw_operators_delete_div = document.createElement('div');//delete的div
         draw_operators_delete_div.setAttribute('class','fa fa-trash');
         draw_operators_delete_div.setAttribute('id','draw_operators_delete_div'+j.toString());
         draw_operators_delete_div.setAttribute('onclick',"Delete_all("+j+",'"+target_draw_bar_id+"')");//为该删除按钮添加onclick时间，target是draw或者evaluation
         var draw_operators_delete_span = document.createElement('span');
         draw_operators_delete_span.setAttribute('class','tooltipp');
         draw_operators_delete_span.setAttribute('id','draw_operators_delete_span'+j.toString());
         draw_operators_delete_span.innerHTML='delete';
         draw_operators_delete_div.appendChild(draw_operators_delete_span);

         var draw_operators_view_div = document.createElement('div');//view的div
         draw_operators_view_div.setAttribute('class','fa fa-eye');
         draw_operators_view_div.setAttribute('id','draw_operators_view_div'+j.toString());
         var draw_operators_view_span = document.createElement('span');
         draw_operators_view_span.setAttribute('class','tooltipp');
         draw_operators_view_span.setAttribute('id','draw_operators_delete_span'+j.toString());
         draw_operators_view_span.innerHTML='view';
         draw_operators_view_div.appendChild(draw_operators_view_span);

         //把save，delete，view放入operator
         draw_operators.appendChild(draw_operators_delete_div);
         draw_operators.appendChild(draw_operators_view_div);

         draw_inf_body.appendChild(cluster_way_inf);//把operator放入body
        draw_inf_body.appendChild(draw_operators);

         draw_inf.appendChild(draw_inf_body);//把body放入inf



         var draw_bar=document.getElementById(target_draw_bar_id);
         draw_bar.appendChild(draw_inf);



        /* <div class="draw_inf" id="draw_inf1">
                       <div class="draw_inf_body">
                <div class="draw_operators product-btns">
                    <div class="fa fa-heart-o"><span class="tooltipp">save</span></div>
                    <div class="fa fa-trash" onclick="Delete_all(1,'draw_bar')"><span class="tooltipp">delete</span></div>
                    <div class="fa fa-eye"><span class="tooltipp">quick view</span></div>
                </div>
            </div>
                            </div>*/



    }
    //从第0个画布开始画图
    draw_counts=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];//初始化可以画的div编号
    function generate(){
        var options=$('#cluster_selector option:selected'); //获取选中的项,需要给每个方法的每个参数都搞一个默认值
        var parameters={};
        parameters['cluster_method']=options.val();
        var cluster_way_inf='Cluster method: '+options.val();
        if(select_cluster==options.val())//若用户选择的聚类方法与当前选完参数的一样，那按照用户选的参数来传参给后台，反之传默认参数。
        {
            parameters['exist']='exist';
            var para=document.getElementsByClassName('parameter');

           for(var i=0;i<para.length;i++)
            {
            var strs=para[i].innerHTML.split(': ');
            if(strs[1]==0){
                    alert("the "+strs[0]+" is not allowed to be"+strs[1]);
                    return;
                }
                if (strs[1]!='')
                    parameters[strs[0]]=strs[1];
            cluster_way_inf+='<br>'+strs[0]+": "+strs[1];
        };
        }
        else {
            parameters['exist'] = 'none';
            //用户并没有选择参数，传入默认参数
            for (var key1 in window.default[options.val()]) {
                cluster_way_inf += '<br>' + key1 + ': ' + window.default[options.val()][key1];
            }
        }
        if (draw_counts.length==0)//当前可以画的div都已经画满了，需要删除一个div
        {
            alert("It's empty! \n please delete a picture!");
            return;
        }
        var  draw_count=draw_counts.pop();
        parameters['draw_id']=draw_count;

        var url='/cluster/cluster_way';//+options.val();
        if (options.val()=='User_cluster'){
        url='/cluster/User_cluster';
        }
        $.ajax({
                type :"POST",
                url : url,
                data:JSON.stringify(parameters),//还需要加一个draw_id用于表示要画在哪个div上面。
                contentType:'application/json; charset=UTF-8',
                dataType:"html",
                success : function(res) {//返回数据根据结果进行相应的处理
                    create_draw_element('draw_bar',draw_count,cluster_way_inf);//首先创建一个div用来画图
                    var count="#draw_"+draw_count.toString();
                     $(count).html(res);
                     ddd(draw_count);
                },
                error:function(){
                    alert("获取数据失败！");
                    draw_counts.push(draw_count);
                }
            });
    };
    //根据URL，通过ajax传输来画图

</script>

<script>
    function show_selected_parameters(parameter_id,inf_id){
        parameters_selected=document.getElementById(inf_id);//当前调整数值的参数div的p子元素
        var parameter_name=parameters_selected.innerHTML.split(':')[0];
        var selected_value=$('#'+parameter_id+' option:selected').val();
        if((typeof selected_value=='undefined'))
        {
            selected_value=document.getElementById(parameter_id).options[0].val();
        }
        parameters_selected.innerHTML=parameter_name+': '+selected_value;
    }
</script>

<!--画图，根据每张图的聚类方法和聚类参数得到指定评价指标下该图对应方式的评价值-->
<script>

     function create_draw_evaluation_element(target_draw_bar_id,j,cluster_way_inf_value){
        var draw_inf = document.createElement('div');
         draw_inf.setAttribute('class','draw_inf');
         draw_inf.style.width='1100px';
         draw_inf.setAttribute('id','draw_inf'+j.toString());


         var draw = document.createElement('div');
         draw.setAttribute('id','draw_'+j.toString());
         draw.setAttribute('class','draw');
         draw.style.width='1100px';
         draw.style.height='380px';

         var draw_label=document.createElement('div');//用户选择颜色的颜色盘
         draw_label.setAttribute('class','draw_label');

        var change_color=document.getElementById('change_color'+j.toString());

         draw_label.appendChild(change_color);
         change_color.style.display='inline';
         change_color.setAttribute('onchange','change_color('+j+')');

         var change_submit=document.createElement('button');
         //change_submit.setAttribute('class','fas fa-plus-circle');
         change_submit.setAttribute('style','display:inline-block');
         change_submit.setAttribute('onclick','change_color('+j+')');
         change_submit.innerHTML='OK';
         draw_label.appendChild(change_submit);
         draw.appendChild(draw_label);

         draw_inf.appendChild(draw);//把画布放进去



        var draw_inf_body = document.createElement('div');
         draw_inf_body.setAttribute('class','draw_inf_body');
         draw_inf_body.setAttribute('id','draw_inf_body'+j.toString());
         draw_inf_body.style.width='1100px';
         draw_inf_body.style.height='70px';

         var cluster_way_inf = document.createElement('div');
         cluster_way_inf.setAttribute('class','cluster_way_inf');
         cluster_way_inf.setAttribute('id','cluster_way_inf'+j.toString());
         cluster_way_inf.setAttribute('value',cluster_way_inf_value);
         cluster_way_inf.style.height='20px';
         cluster_way_inf.style.width='1080px';
         var array=cluster_way_inf_value.split('<br>');
         var show_innerhtml=(array[0].split(': '))[1];

         cluster_way_inf.innerHTML=show_innerhtml;

         var draw_operators = document.createElement('div');
         draw_operators.setAttribute('class','draw_operators');
         draw_operators.setAttribute('id','draw_operators'+j.toString());

         if(target_draw_bar_id!='draw_evaluation_bar'){//当前评价指标里面是没有save功能的
         var draw_operators_save_div = document.createElement('div');//save的div
         draw_operators_save_div.setAttribute('class','fa fa-heart-o');
         draw_operators_save_div.setAttribute('id','draw_operators_save_div'+j.toString());
         var draw_operators_save_span = document.createElement('span');
         draw_operators_save_span.setAttribute('class','tooltipp');
         draw_operators_save_span.setAttribute('id','draw_operators_save_span'+j.toString());
         draw_operators_save_span.innerHTML='save and return';
         draw_operators_save_div.appendChild(draw_operators_save_span);
         draw_operators_save_div.setAttribute('onclick','save('+j+')');//保存该id用于获取该图片下的聚类方法和参数
             draw_operators.appendChild(draw_operators_save_div);
}
         var draw_operators_delete_div = document.createElement('div');//delete的div
         draw_operators_delete_div.setAttribute('class','fa fa-trash');
         draw_operators_delete_div.setAttribute('id','draw_operators_delete_div'+j.toString());
         draw_operators_delete_div.setAttribute('onclick',"Delete_all("+j+",'"+target_draw_bar_id+"')");//为该删除按钮添加onclick时间，target是draw或者evaluation
         var draw_operators_delete_span = document.createElement('span');
         draw_operators_delete_span.setAttribute('class','tooltipp');
         draw_operators_delete_span.setAttribute('id','draw_operators_delete_span'+j.toString());
         draw_operators_delete_span.innerHTML='delete';
         draw_operators_delete_div.appendChild(draw_operators_delete_span);

         var draw_operators_view_div = document.createElement('div');//view的div
         draw_operators_view_div.setAttribute('class','fa fa-eye');
         draw_operators_view_div.setAttribute('id','draw_operators_view_div'+j.toString());
         var draw_operators_view_span = document.createElement('span');
         draw_operators_view_span.setAttribute('class','tooltipp');
         draw_operators_view_span.setAttribute('id','draw_operators_delete_span'+j.toString());
         draw_operators_view_span.innerHTML='view';
         draw_operators_view_div.appendChild(draw_operators_view_span);

         //把save，delete，view放入operator
         draw_operators.appendChild(draw_operators_delete_div);
         draw_operators.appendChild(draw_operators_view_div);

         draw_inf_body.appendChild(cluster_way_inf);//把operator放入body
        draw_inf_body.appendChild(draw_operators);

         draw_inf.appendChild(draw_inf_body);//把body放入inf



         var draw_bar=document.getElementById(target_draw_bar_id);
         draw_bar.appendChild(draw_inf);



        /* <div class="draw_inf" id="draw_inf1">
                       <div class="draw_inf_body">
                <div class="draw_operators product-btns">
                    <div class="fa fa-heart-o"><span class="tooltipp">save</span></div>
                    <div class="fa fa-trash" onclick="Delete_all(1,'draw_bar')"><span class="tooltipp">delete</span></div>
                    <div class="fa fa-eye"><span class="tooltipp">quick view</span></div>
                </div>
            </div>
                            </div>*/



    }
    evaluation_count=[-1,-2];
    function generate_evaluation_pic()
    {
        if(evaluation_count.length==0)
        {
            alert("It's empty! \n please delete a picture!");
            return;
        }
        var pic_parameters=[];//当前所有图的聚类方法和参数
        var draw_dataset=[];
        var evaluation_selected=$('#evaluation_selector option:selected').val();
        if(evaluation_selected=='')
            evaluation_selected='silhouette';
        var draw_data={};
        draw_data['evaluation_way']=evaluation_selected;
        pic_parameters.push(evaluation_selected);
     var cluster_way_infs=document.getElementsByClassName('cluster_way_inf');
     for(var i=0;i<(20-draw_counts.length);i++)
     {
            var this_pic_parameter={};//i图的方法和参数
            var params=(cluster_way_infs[i]).getAttribute('value').split('<br>');
         console.log(params);
         for(var j=0;j<params.length;j++)//把对应评价方法的那个去掉，后面如果把每张图中的评价指标去掉的话，这里需要把-1去掉
         {
             var param=params[j].split(': ');
             this_pic_parameter[param[0]]=param[1];
         }
         pic_parameters.push(this_pic_parameter);
     }
     console.log(pic_parameters);
     var url='/cluster/cluster_way_evaluation';
        $.ajax({
                type :"POST",
                url : url,
                data:JSON.stringify(pic_parameters),//还需要加一个draw_id用于表示要画在哪个div上面。
                contentType:'application/json; charset=UTF-8',
                success : function(res) {//返回数据根据结果进行相应的处理,res数组的0位置是评价方法，1及其之后都是图片的编号
                    var res_array=res.split(':');//以冒号隔开，每一个元素都是指定的评价指标
                    var draw_num_data=[];
                    for(var p=1;p<pic_parameters.length;p++)//对每一个图的方法都进行
                    {
                        pic_parameters[p]['score']=res_array[p];
                        draw_num_data.push([p,parseFloat((parseFloat(res_array[p])).toFixed(3))]);
                    }
                    var draw_count=evaluation_count.pop();
                    draw_data['draw_num_data']=draw_num_data;
                    draw_dataset.push(draw_data);
                    create_draw_evaluation_element('draw_evaluation_bar',draw_count,'evaluation way : '+evaluation_selected);//画图和评价的id不能重复，所以评价可以从10开始
                    var count="#draw_"+draw_count;
                    draw_evaluation_pic(draw_dataset,count)

                    //var count="#draw_"+draw_count.toString();

                     //$(count).html(res_array[0]);

                     //document.getElementById('delete_node'+draw_count.toString()).style.display='inline';
                },
                error:function(){
                    alert("获取数据失败！");
                }
            });
    }
</script>

<!--根据上一个函数得到的数据进行svg画图-->
<script>
function draw_evaluation_pic(dataset,draw_svg_id){
    var width=1000;
    var height=350;
     var svg = d3.select(draw_svg_id)
        .append('svg')
        .attr('width', width)
        .attr('height', height);

    var padding={top:50,right:50,bottom:50,left:50};//到avg画布左右上下的距离
var evaluation_max=0.0;
    for(var i=0;i<dataset.length;i++)
    {
        var curr_evaluation=d3.max(dataset[i].draw_num_data,function(d){return d[1]});
        if(curr_evaluation>evaluation_max)
            evaluation_max=curr_evaluation;
    }
    console.log(evaluation_max);
    var xScale = d3.scale.linear().domain([0,(20-draw_counts.length)]).range([0,width-padding.left-padding.right]);//要根据画布的多少来动态指定
    var yScale = d3.scale.linear().domain([0,evaluation_max]).range([height-padding.top-padding.bottom,0]);
    var linePath=d3.svg.line()
        .x(function(d){return xScale(d[0]);})
        .y(function (d) {return yScale(d[1]);});
    var draw_colors=[d3.rgb(0,0,255),d3.rgb(0,255,0),d3.rgb(255,0,0)];//d3.scale.ordinal().range(["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"]);
    svg.selectAll('path')
        .data(dataset)
        .enter()
        .append('path')
        .attr('transform','translate('+padding.left+','+padding.top+')')
        .attr('d',function (d) {
            return linePath(d.draw_num_data);})
        .attr('fill','none')
        .attr('stroke-width',3)
        .attr('stroke',function (d,i) {
            return draw_colors[i];
        });
var xAxis=d3.svg.axis()
    .scale(xScale)
    .ticks(5)
    .tickFormat(d3.format('d'))//刻度的字体都用字符串表示
    .orient('bottom');
var yAxis=d3.svg.axis()
    .scale(yScale)
    .orient('left');

svg.append('g')
    .attr('class','parallel_axis')
    .attr('transform','translate('+padding.left+','+padding.top+')')
    .call(yAxis).append("text").text("Score")//text旋转-90°
.attr("text-anchor","end").attr('x',0).attr('y',0).attr('text-anchor','end')//字体尾部对齐
.attr("dy","-1em");
svg.append('g')
    .attr('class','parallel_axis')
    .attr('transform','translate('+padding.left+','+(height-padding.bottom)+')')
    .call(xAxis).append("text").text("No.").attr('x',900).attr('y',0).attr('text-anchor','end').attr("dy","3em");//沿y轴平移一个字体的大小;
}
</script>

<script>
    function save(count){
var cluster_way_inf=document.getElementById('cluster_way_inf'+count.toString()).getAttribute('value');
var cluster_way_inf_array=cluster_way_inf.split('<br>');
var parameters={};
for(var i=0;i<cluster_way_inf_array.length;i++)
{
    var inf=cluster_way_inf_array[i].split(': ');
    parameters[inf[0]]=inf[1];
}
var url='/mining/cluster';//这个是需要修改的！！！
        $.ajax({
                type :"POST",
                url : url,
                data:JSON.stringify(parameters),//还需要加一个draw_id用于表示要画在哪个div上面。
                contentType:'application/json; charset=UTF-8',
                success : function(res) {//返回数据根据结果进行相应的处理,res数组的0位置是评价方法，1及其之后都是图片的编号
                    a = document.createElement('a');
                            a.href = '/home';
                            a.click();
                },
                error:function(){
                    alert("获取数据失败！");
                }
            });

    };
</script>
<script>

    function change_color(j){//修改svg中的折线的颜色\
        var color_param=document.getElementById('change_color'+j.toString()).style.backgroundColor;
        var draw_id=document.getElementById('draw_'+j.toString());
        var path=draw_id.getElementsByTagName('path')[0];
        path.style.stroke=color_param;
    }
</script>
</html>