<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataWorkshop</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css"  href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>

<style>
    #personal_picture{
        width: 30px;
        height: 30px;
    }
    #header{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    body{
        background: rgba(231,231,231,1);
    }
    #statistics{
        padding-top: 100px;
        padding-bottom: 300px;
    }
    #cluster_projection{
        padding-top: 100px;
        padding-bottom: 300px;
    }
    #visualization{
        padding-top: 100px;
        padding-bottom: 300px;
    }
    #contact{
        padding-top: 100px;
        background: rgba(231,231,231,1);
    }
    #statistics_report{
        overflow: auto;
        text-align: center;
        border: 1px solid #0c5460;
        margin: 100px;
    }
    .head{
        font-size: 29px;
        display: block;
    }
    .content{
        display: block;
    }
    #statistics_table{
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    circle.hidden {
        fill: #ccc !important;
    }
    .frame {
        fill: none;
        stroke: black;
    }
    #cluster_projection_report{
        overflow: auto;
        text-align: center;
        border: 1px solid #0c5460;
        margin: 100px;
    }
</style>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">DataWorkshop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#statistics" class="page-scroll">Statistics</a></li>
                <li><a href="#cluster_projection" class="page-scroll">Projection & Cluster</a></li>
                <li><a href="#visualization" class="page-scroll">Visualization</a></li>
                <li><a href="#contact" class="page-scroll">Contact</a></li>
                <li><a href="#contact" class="page-scroll"><img id="personal_picture" src="../static/img/personal_picture.png"></a></li>
            </ul>
        </div>
  </div>
</nav>

<header id="header">
    <div class="upload">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1><strong>DataWorkshop</strong></h1>
                        <p>Firstly, please upload your data file!</p>
                        <div id="upload" align="center">
                            <input type="file" name="csvfile"/><br/>
                            <input type="button" onclick="read_file()" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="statistics">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
        <h2>Statistics</h2>
    </div>
    <div class="container">
        <div class="row">
            <form>
                <a class="btn btn-default" type="button" href="/statistics">Show The Result</a>
            </form>
            <div id="statistics_table" style="overflow: auto">
                <table class="table table-bordered" align="center">
                    <thead>
                    <tr id="features">
                        <th>Variables</th>
                        {% for feature in frame %}
                            <th>{{ feature }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="means">
                        <td>mean</td>
                        {% for m in mean %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    <tr id="medians">
                        <td>median</td>
                        {% for m in median %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    <tr id="modes">
                        <td>mode</td>
                        {% for m in mode %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    <tr id="minimums">
                        <td>min</td>
                        {% for m in min %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    <tr id="maximums">
                        <td>max</td>
                        {% for m in max %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    <tr id="variances">
                        <td>var</td>
                        {% for m in var %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table >
            </div>
            <div id="draw_statistics"></div>
        </div>
    </div>
</div>

<div id="cluster_projection">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
        <h2>Cluster&Projection</h2>
    </div>
    <div class="container">
        <div class="row">
            <a class="btn btn-default" type="button" href="/cluster_projection">Show The Result</a>
            <div id="getdata">
                <ul id="data">
                    {% for name in data %}
                        <li>{{ name }}</li>
                    {% endfor %}
                </ul>

                <ul id="cluster">
                    <li>{{ clusters }}</li>
                </ul>

                <ul id="data_obj">
                    {% for d in data_obj %}
                        <li>{{ d }}</li>
                    {% endfor %}
                </ul>

                <ul id="method">
                    <li>{{ method }}</li>
                </ul>
            </div>
            <div id="draw_cluster_projection"></div>
        </div>
    </div>
</div>

<div id="visualization">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
        <h2>Visualization</h2>
    </div>
    <div class="container">
        <div class="row">
            <div id="draw_visualization"></div>
        </div>
    </div>
</div>

<div id="contact"></div>

<script type="text/javascript" src="../static/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/SmoothScroll.js"></script>
<script type="text/javascript" src="../static/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.isotope.js"></script>
<script type="text/javascript" src="../static/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="../static/js/contact_me.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script src="https://cdn.bootcss.com/PapaParse/4.4.0/papaparse.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>
<script type="text/javascript" src="http://www.xdocin.com/xdoc.js"></script>
<script type="text/javascript" src="http://www.xdocin.com/baiduTemplate.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    $.fn.csv2arr = function( callback ){
            if( typeof(FileReader) == 'undefined' ){    //if not H5
                alert("Your browser is too old,please use Chrome or Firefox");
                return false;
            }
            if( ! $(this)[0].files[0]){
                alert("Please select a file");
                return false;
            }
            var fReader = new FileReader();
            fReader.readAsDataURL( $(this)[0].files[0] );
            $fileDOM = $(this);
            fReader.onload = function(evt){
                var data = evt.target.result;
                var encoding = checkEncoding( data );
                Papa.parse( $($fileDOM)[0].files[0], {
                    encoding: encoding,
                    complete: function(results) {
                        var res = results.data;
                        $.ajax({
                            url: '/data_workshop',
                            type: 'POST',
                            data: {d: JSON.stringify(res)},
                            dataType: 'json',
                            success:
                                alert('success !')
                        });
                        if( res[ res.length-1 ] == ""){
                            res.pop();
                        }
                        callback && callback( res );
                    }
                });
            };
            fReader.onerror = function(evt){
                alert("The file has changed,please select again.(Firefox)");
            };

            function checkEncoding( base64Str ){
                var str = atob( base64Str.split(";base64,")[1] );
                var encoding = jschardet.detect( str );
                encoding = encoding.encoding;
                console.log( encoding );
                if( encoding == "windows-1252"){
                    encoding = "ANSI";
                }
                return encoding;
            }
        };
    function read_file(){
        $("input[name=csvfile]").csv2arr(function(res){
        });
    }

</script>
<script type="text/javascript">

    colors = ["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"];
    d3Colors = d3.scale.ordinal().range(["purple", "maroon", "navy", "aqua", "lime", "sliver", "red", "yellow", "blue", "darkslategray"]);

    arr = document.getElementById("method").getElementsByTagName('li');
    method = '.' + arr[0].innerHTML;

    var arr = document.getElementById("data_obj").getElementsByTagName('li'),rows = [];
    for(var i = 0;i<arr.length;i++) {
        arr_str = arr[i].innerHTML;
        var obj = eval('(' + arr_str + ')');
        rows.push(obj)
    }

    dataset=new Array()
    var arr = document.getElementById("data").getElementsByTagName('li'),temp = [];
    for(var i = 0;i<arr.length;i++){
        temp.push(arr[i].innerHTML);
    }
    for(var i = 0; i<temp.length;i++){
        temp1=temp[i].replace('[','');
        temp2=temp1.replace(']','');
        temp3 = temp2.split(",");
        numArray = temp3.map((value)=>{
            return  parseFloat(value);
        });
        dataset.push(numArray);
    }

    arr = document.getElementById("cluster").getElementsByTagName('li');
    temp = arr[0].innerHTML;
    clusters = parseInt(temp);

    indexes = new Array();
    for(j = 0; j < clusters; j++){
        each_cluster_indexes = [];
        for(i = 0; i < dataset.length; i++){
            if(dataset[i][2] == j){
                each_cluster_indexes.push(i);
            }
        }
        indexes.push(each_cluster_indexes)
    }

    body = d3.select('body');
    body.selectAll('#getdata').remove();

    var svgWidth = 600;
    var svgHight = 400;
    var padding =  70;
    var brushcell = undefined;

    var svg = d3.select("#cluster_projection")
        .append('svg')
        .attr('width', svgWidth)
        .attr('height', svgHight);

    // 创建比例尺
    var xScale = d3.scale.linear()
        .domain([d3.min(dataset, function(d) {
            return d[0];
        }), d3.max(dataset, function(d) {
            return d[0];
        })]).range([padding, svgWidth - padding * 2]);

    var yScale = d3.scale.linear()
        .domain([d3.min(dataset, function(d) {
            return d[1];
        }), d3.max(dataset, function(d) {
            return d[1];
        })]).range([svgHight - padding, padding]);

    var rScale = d3.scale.linear()
        .domain([0, d3.max(dataset, function(d) {
            return d[1];
        })]).range([2, 4]);

    svg.append('rect')
        .classed("frame", true)
        .attr("x", padding/2)
        .attr("y", padding/2)
        .attr("width", svgWidth-padding)
        .attr("height", svgHight-padding);

    var  brush = d3.svg.brush()
        .x(xScale)
        .y(yScale)
        .extent([0, 0], [0, 0])
        .on("brushstart", brushstart)
        .on("brush", brushed)
        .on("brushend", brushend);

    svg.append("g")
        .call(brush)
        .selectAll("rect")
        .style("fill-opacity", 0.1);

  circles =  svg.selectAll('circle')
            .data(dataset)
            .enter()
            .append('circle')
            .attr('cx', function(d) {
                return xScale(d[0]);
            })
            .attr('cy', function(d) {
                return yScale(d[1]);
            })
            .style('stroke','white')
            .attr('r',4)
            .style('fill', function(d) { return d3Colors(d[2]) })
            .data(rows)
            .on("mouseover", function(d,i) {
                key_name=new Array();
                for(var key in d){
                    key_value=key+':'+d[key];
                    key_name.push(key_value)
                }
                table=key_name.toString();
                table_n=table.replace(/,/g,'\n');
                svg.append("title").text('ID:'+ i +"\n"+ table_n).attr("id","Ttitle");
                d3.select(this)
                    .attr("r", 8);
            })
            .on("mouseout", function(d){
                d3.select(this)
                    .attr("r", 4);
                d3.select("#Ttitle").remove();
            });

    function brushstart() {
        svg.selectAll('circle')
            .data(dataset);
        if(brushcell !== this){
            d3.select(brushcell).call(brush.clear());
            brushcell = this;
        }
    }

  function brushed() {
      var extend = brush.extent();
      var xmin = extend[0][0];
      var xmax = extend[1][0];
      var ymin = extend[0][1];
      var ymax = extend[1][1];

      svg.selectAll('circle')
            .classed("hidden", function (d) {
                return d[0] < xmin || d[0] > xmax || d[1] < ymin || d[1] > ymax
            })
  }

  function brushend() {
      if (brush.empty()) svg.selectAll(".hidden").classed("hidden", false);
      svg.selectAll('circle')
          .data(rows);
  }
</script>
</body>
</html>
