<style>
    #statistics_report{
        overflow: auto;
        text-align: center;
        border: 1px solid #0c5460;
        margin: 100px;
    }
    .head{
        font-size: 29px;
        display: block;
    }
    .content{
        display: block;
    }
    table{
        background: white;
    }
</style>
<div id="statistics_table" style="overflow: auto">
    <table class="table table-bordered" align="center">
        <thead>
            <tr id="features">
                <th>Variables</th>
                {% for feature in frame %}
                    <th>{{ feature }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr id="means">
                <td>mean</td>
                {% for m in mean %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
            <tr id="medians">
                <td>median</td>
                {% for m in median %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
            <tr id="modes">
                <td>mode</td>
                {% for m in mode %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
            <tr id="minimums">
                <td>min</td>
                {% for m in min %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
            <tr id="maximums">
                <td>max</td>
                {% for m in max %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
            <tr id="variances">
                <td>var</td>
                {% for m in var %}
                    <td>{{ m }}</td>
                {% endfor %}
            </tr>
        </tbody>
        </table >
</div>
<div>
    <button class="button_blue" onclick="generate_stt_report()">Generate Your Report</button>
    <button class="button_blue" onclick="download_stt_report()">Download Your Report</button>
</div>
<script>
    stt_data = new Array();
        features = new Array();
        array = document.getElementById("features").getElementsByTagName("th");
        for(var i = 1;i<array.length;i++){
            features.push(array[i].innerHTML);
        }
        stt_data.push(features);
        means = new Array();
        array = document.getElementById("means").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            means.push(array[i].innerHTML);
        }
        stt_data.push(means);
        medians = new Array();
        array = document.getElementById("medians").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            medians.push(array[i].innerHTML);
        }
        stt_data.push(medians);
        modes = new Array();
        array = document.getElementById("modes").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            modes.push(array[i].innerHTML);
        }
        stt_data.push(modes);
        minimums = new Array();
        array = document.getElementById("minimums").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            minimums.push(array[i].innerHTML);
        }
        stt_data.push(minimums);
        maximums = new Array();
        array = document.getElementById("maximums").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            maximums.push(array[i].innerHTML);
        }
        stt_data.push(maximums);
        variances = new Array();
        array = document.getElementById("variances").getElementsByTagName("td");
        for(var i = 1;i<array.length;i++){
            variances.push(array[i].innerHTML);
        }
        stt_data.push(variances);
        all_strings = new Array();
        stt_variables = ["mean", "median", "mode", "min", "max", "var"];
        for(i = 0; i < stt_data[0].length; i++){
            p_string = stt_data[0][i] + ": ";
            for(j = 0; j < stt_variables.length; j++){
                p_string =p_string + stt_variables[j] + ":" + stt_data[j + 1][i] + " ";
            }
            all_strings.push(p_string);
        }

</script>
