<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/mdui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/tooplate-style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/static/css/geography.css">
    <title>Massive points</title>
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            color: white;
        }
    </style>
</head>

<body>
<div class="navbar custom-navbar navbar-fixed-top" role="navigation" style="background: black">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="smoothScroll"><a href="/index" id="home_page">Home</a></li>
                <li class="smoothScroll"><a href="/geo/">back</a></li>
                <li class="smoothScroll">
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img smoothScroll"><a href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li class="smoothScroll"><a href="/login/">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="smoothScroll">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li class="smoothScroll">
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>
                    var permi = '' +{{ user.permission }};
                    console.log("permission:", permi);
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>
    </div>
</div>
<div id="container"></div>
<script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.10&key=2dd663dd485017c4b832632ff9751da0'></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">
    //创建地图
    var map = new AMap.Map('container', {
        zoom: 4,
        mapStyle: 'amap://styles/26fc904bd43d8b834219809619ba4aea',
    });

    AMapUI.load(['ui/misc/PointSimplifier', 'lib/$'], function (PointSimplifier, $) {
        if (!PointSimplifier.supportCanvas) {
            alert('当前环境不支持 Canvas！');
            return;
        }

        var pointSimplifierIns = new PointSimplifier({
            map: map, //所属的地图实例
            getPosition: function (item) {
                if (!item) {
                    return null;
                }
                var parts = item.split(',');
                //返回经纬度
                return [parseFloat(parts[0]), parseFloat(parts[1])];
            },
            getHoverTitle: function (dataItem, idx) {
                return idx + ': ' + dataItem;
            },
            renderOptions: {
                disableHardcoreWhenPointsNumBelow: 0,
                pointStyle: {
                    content: "circle",
                    width: 4,
                    height: 4,
                    fillStyle: 'rgb(255,255,255)',
                    lineWidth: 1,
                },
                topNAreaStyle: {
                    autoGlobalAlphaAlpha: true,
                    content: "circle",
                    fillStyle: "rgb(255,255,255)",
                    lineWidth: 1,
                },
                pointHoverStyle: {
                    width: 5,
                    height: 5,
                    content: "circle",
                    fillStyle: null,
                    lineWidth: 1,
                    strokeStyle: "#ffa500"
                }
            }
        });

        window.pointSimplifierIns = pointSimplifierIns;
        $.get('/static/user/service/olddata/10w.txt', function (csv) {
            var data = csv.split('\n');
            pointSimplifierIns.setData(data);

        });
    });
</script>
</body>
</html>