<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/mdui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/tooplate-style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/static/css/geography.css">

    <title>Massive points</title>
</head>

<body>
<div class="navbar custom-navbar navbar-fixed-top" role="navigation" style="background: black">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="smoothScroll"><a href="/index" id="home_page">Home</a></li>
                <li class="smoothScroll"><a href="/geo/admin/" id="geo_admin">Administration</a></li>
                <li class="smoothScroll"><a href="#" id="geo_points">Points</a></li>
                <li class="smoothScroll"><a href="/geo/line/" id="geo_line">Line</a></li>
                <li class="smoothScroll"><a href="/geo/index/">back</a></li>
                <li class="smoothScroll">
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img smoothScroll"><a href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li class="smoothScroll"><a href="/login/">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="smoothScroll">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li class="smoothScroll">
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>
                    var permi = '' +{{ user.permission }};
                    console.log("permission:", permi);
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>
    </div>
</div>
<div id="left">
    <div>
        <br>
        <input class="button_blue" id="file_path" name="file_path" type="button"
               onclick="path.click()" value="File Upload">
        <input type="file" id="path" style="display:none" name="csvfile"
               onchange="file_path.value=this.value">
        <input class="button_blue" type="button" onclick="read_file()" value="Submit">
    </div>
</div>

<div id="container" style="margin-top: 90px;margin-left:15%;"></div>
<script src="https://webapi.amap.com/loca?key=2dd663dd485017c4b832632ff9751da0"></script>
<!-- UI组件库 1.0 -->
<script src="https://a.amap.com/Loca/static/mock/earthquake.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!--文件上传使用的-->
<script src="/static/js/papaparse.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>
<script>
    geogra_data = {};
    $.ajax({
        type: "POST",
        url: "/geo/get/",
        data: {},
        async: false,
        dataType: "json",
        success: function (res) {//返回数据根据结果进行相应的处理
            geogra_data = res.points;
        },
        error: function () {
            alert("获取数据失败！");
        }
    });

    var min, max;
    for (var points in geogra_data) {
        var data = geogra_data[points].value;
        if (points == 0) {
            max = data;
            min = data;
        } else {
            if (data - max > 0) {
                max = data;
            } else if (data - min < 0) {
                min = data;
            }
        }
    }


    var map = Loca.create('container', {
        mapStyle: 'amap://styles/26fc904bd43d8b834219809619ba4aea',
    });

    var layer = Loca.visualLayer({
        eventSupport: true,
        fitView: true,
        container: map,
        blendMode: 'lighter',
        type: 'point',
        shape: 'circle'
    });

    layer.on('mousemove', function (ev) {
        // 事件类型
        var type = ev.type;
        // 当前元素的原始数据
        var rawData = ev.rawData;
        // 原始鼠标事件
        var originalEvent = ev.originalEvent;

        openInfoWin(map.getMap(), originalEvent, {
            '名称': rawData.name,
            '位置': rawData.center
        });
    });

    layer.on('mouseleave', function (ev) {
        closeInfoWin();
    });

    layer.setData(geogra_data, {
        lnglat: function (data) {
            var item = data.value;
            return [item.longitude, item.latitude];

        }
    });


    layer.setOptions({
        style: {
            radius: function (data) {
                if (max === min)
                    return 8;
                else
                    return (data.value.value - min) / (max - min) * 8;
            },
            fill: function (data) {
                {#var mag = (data.value.value - min) / (max - min);#}
                {#if (mag > 0.8) {#}
                {#    return '#08519c';#}
                {# else if (mag <= 0.8 && mag >= 0.2) {#}
                return '#cc589f';
                {# else {#}
                {#    return '#c6dbef';#}
                {##}
            },
            opacity: 1,
        }
    });
    layer.render();


    //文件上传部分
    $.fn.csv2arr = function (callback) {
        console.log('你好');
        if (typeof(FileReader) == 'undefined') {    //if not H5
            alert("Your browser is too old,please use Chrome or Firefox");
            return false;
        }
        if (!$(this)[0].files[0]) {
            alert("Please select a file");
            return false;
        }
        var fReader = new FileReader();
        fReader.readAsDataURL($(this)[0].files[0]);
        $fileDOM = $(this);
        fReader.onload = function (evt) {
            var data = evt.target.result;
            var encoding = checkEncoding(data);
            Papa.parse($($fileDOM)[0].files[0], {
                encoding: encoding,
                complete: function (results) {
                    var res = results.data;
                    console.log("成功进入geo");
                    $.ajax({
                        url: '/geo/points/upload/',
                        type: 'POST',
                        data: {json_data: JSON.stringify(res)},
                        dataType: 'html',
                        success: function (res) {
                            if (res == "true") {
                                alert('success !');
                                window.location.href = '/geo/points/';
                            } else {
                                alert('Unknown error.');
                            }
                        },
                        error: function () {
                            alert('Internet error');
                        }
                    });
                    if (res[res.length - 1] == "") {
                        res.pop();
                    }
                    callback && callback(res);
                }
            });
        };
        fReader.onerror = function (evt) {
            alert("The file has changed,please select again.(Firefox)");
        };

        function checkEncoding(base64Str) {
            var str = atob(base64Str.split(";base64,")[1]);
            var encoding = jschardet.detect(str);
            encoding = encoding.encoding;
            console.log(encoding);
            if (encoding == "windows-1252") {
                encoding = "ANSI";
            }
            return encoding;
        }
    };

    function read_file() {
        var file_name = $("input[name=csvfile]").val();
        if (file_name.lastIndexOf(".") != -1) {
            var fileType = (file_name.substring(file_name.lastIndexOf(".") + 1, file_name.length)).toLowerCase();
            if (fileType == 'csv') {
                $("input[name=csvfile]").csv2arr(function (res) {
                    console.log('尼玛');
                });
            }
            else
                alert("Please use csv file")
        }
    }

    function uploadComplete(evt) {//py文件上传成功
        alert(evt.target.responseText);
    }
</script>

</body>
</html>