<!DOCTYPE html>
<html lang="en">
<head>

    <title>DaGoo Products</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/tooplate-style.css">
    <link rel="stylesheet" href="../static/css/parallel.css">
    <link rel="stylesheet" href="../static/css/radviz.css">
    <link rel="stylesheet" href="../static/css/scatter.css">
    <link rel="stylesheet" href="../static/css/my_style.css">

    <link rel="stylesheet" type="text/css" href="/static/css/user.css">

</head>
<style>

</style>

<body>

<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
                <li><a href="#" class="smoothScroll">Products</a></li>
                <li><a href="#" class="smoothScroll">Gallery</a></li>
                <li><a href="#" class="smoothScroll">Contact us</a></li>
                <li>
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img"><a class="page-scroll" href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li><a href="/login/" class="page-scroll">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li>
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>

                    var permi = '' +{{ user.permission }};
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>

    </div>
</div>

<!-- HOME -->
<div class="parallax-section" style="background-color: black;height: 2000px;">
    <div class="container" style="color:white; align:center; ">
<div style="width: 80%;  text-align: center; padding-top: 150px;" >


    <br>
            <div>
                <p style="font-family:arial;text-align: justify;">
                    In the era of big data, data analytics and visualization are cutting-edge technologies with data as its essence.
To analyze and visualize high-dimensional datasets, DaGoo, a versatile platform for big data, comes out. DaGoo is skilled at doing fast analysis for any data of high dimension and can figure out series of problems related to big data and artificial intelligence. Getting a detailed report with one click right after uploading data, users are not required to code. To establish academic atmosphere, users can exploit, compare and share their methods on the platform.
For more details, see the <a href="../static/pdf/DaGoo.pdf" class="smoothScroll" style="color: orangered; font-size: 25px;">Instructions!</a></p>
            <p> DaGoo has four inseparable brothers: TableGoo, TextGoo, GeoGoo and GraphGoo. They are geniuses in different areas!</p>

            </div>

        <div class="leftDiv"  >
                <a href="/home" ><img src="../static/img/table.png" style="width:150px;"alt="" /></a>
            </div>
        <div class="rightDiv">
            <br>
            <a href="/home" style="color: white; font-size: 16px;"> TableGoo! </a>
                    —— good at table data analysis.
                    <br> Imported data type: table data
                    <br> Table format for unloaped files:
                    <br> First lines: attributes; First column: identifiers; The rest: data
                    <br> Functions with table data:
                    <br> Analysis and Visual Charts

        </div> </br>

         <div class="leftDiv"  >
                <a href="#" ><img src="../static/img/text.png" style="width:150px;"alt="" /></a>
            </div>
        <div class="rightDiv">

            <a href="/text_home" style="color: white; font-size: 16px;"> TextGoo! </a>
                    —— skilled in text data analysis.
                    <br> Imported data type: text data
                    <br> Table format for unloaped files:
                    <br> pictures or input in textbox(Word Cloud)
                    <br> First column: source; Second column: target; Third column: relationship(Knowledge Graph)
                    <br> Functions with text data:
                    <br> Word Cloud and Knowledge Graph

        </div> <br>

         <div class="leftDiv"  >
                <a href="/geo" ><img src="../static/img/geo.png" style="width:150px;"alt="" /></a>
            </div>
        <div class="rightDiv">
            <br />
            <a href="/geo" style="color: white; font-size: 16px;"> GeoGoo! </a>
                    —— adept at geographical data analysis.
                    <br> Imported data type: geographical data
                    <br> Table format for unloaped files:
                    <br> First lines: attributes; First column: areas; The rest: data
                    <br> Functions with geographical data:
                    <br> Chinese map with various attributes

        </div> <br>

         <div class="leftDiv"  >
                <a href="/graphgoo" ><img src="../static/img/graph.png" style="width:150px;"alt="" /></a>
            </div>
        <div class="rightDiv">
            <br />
            <a href="/graphgoo" style="color: white; font-size: 16px;"> GraphGoo! </a>
                    —— specialize in graph data analysis.
                    <br> Imported data type: graph data
                    <br> Table format for unloaped files:
                    <br> First lines: attributes; First column: identifiers; The rest: data
                    <br> Functions with graph data:
                    <br> social networks and recommendation system

        </div> <br>



        </div>





    </div>
</div>
</section>


    </div>
</div>




</section>



<!-- SCRIPTS -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.parallax.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>