<html>
   <body>
    <style>
    #tree{
        height:500px;
        width:700px;
    }
</style>
       <div id="tree" ></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("tree");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove',
            //backgroundColor:'black'


        },
        series: [


            {
                type: 'tree',
                legendHoverLink:true,
                hoverAnimation:true,

         lineStyle:{
                         color: '#FF6A6A',
                         type:'dotted',
                        curveness: 0.2
                },

           data: [
                {
                    name: '',
                    symbol: 'emptycircle',
                    symbolSize:14,

                    label: {
            color: '#000000',
            fontSize: 12
        },


                   itemStyle: {
                            color: '#f51200',
                             borderType:'emptydiamond'
                              },



                    children: [

                        {
                            name: '',
                            symbol: 'emptydiamond',
                             itemStyle: {
                            color: '#47a319',

                              },
                            label: {
            color: '#47a319',
            fontSize: 12
        },


                     children: [
                                {
                                    name: '',
                                    label: {
            color: '#2E9AFE',
            fontSize: 12
        },

                                    children:[
                                {label: {
            color: '#696969',
            fontSize: 12
        },

                                    name: 'CYL-Origin',
                                              children:[
                                    {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'CYL'
                                },
                                {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'Origin'
                                }

                                    ]
                                },
                                {label: {
            color: '#696969',
            fontSize: 12
        },
                                    name: 'MPG-Accel' ,
                                              children:[
                                    {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'MPG'
                                },
                                {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'Accel'
                                }

                                    ]
                                }



                                    ]

                                },

                                {label: {
            color: '#696969',
            fontSize: 12
        },
                                    name: 'Hpower-Year',
                                    children:[
                                    {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'Hpower'
                                },
                                {label: {
            color: '#FF4500',
            fontSize: 12
        },
                                    name: 'Year'
                                }

                                    ]
                                }

                            ]
                        },
                        {
                            name: 'Weight',
                             symbol: 'emptydiamond',
                              itemStyle: {
                            color: '#1b48d0',

                              },
                              label: {
            color:  '#FF4500',
            fontSize: 12
        },



                        }
                    ]
                }
            ],

                top: '18%',
                bottom: '14%',

                layout: 'orthogonal',
                orient:'TB',

                symbol: 'emptypin',

                symbolSize: 7,

                initialTreeDepth: 6,

                animationDurationUpdate:350

            }
        ]
    };
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>