<div>

<div id="text">

<ul>
    {% for name in data %}
        <li>{{ name }}</li>
    {% endfor %}
</ul>

</div>

<div id="scatter" class="scatter"></div>

    <style>
        .axis path,
        .axis line{
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        .scatter{
            border-style: solid;
            border-width: 1px;
        }
    </style>

    <script type="text/javascript">
        var dataset=new Array()
        var arr = document.getElementsByTagName('li'),temp = [];
        for(var i = 0;i<arr.length;i++){
            temp.push(arr[i].innerHTML)
        }
//console.log(temp)
        for(var i = 9; i<temp.length;i++){
            temp1=temp[i].replace('[','');
            console.log(temp1)
            temp2=temp1.replace(']','');
            temp3 = temp2.split(",");
            numArray = temp3.map((value)=>{
                return  parseFloat(value);
            })
            dataset.push(numArray)
        }
        body = d3.select('body');
        body.selectAll('#text').remove();
        console.log(dataset)
        var svgWidth = 600;
        var svgHight = 400;
        var padding =  70;


    // 创建SVG
        var svg = d3.select('.scatter')
            .append('svg')
            .attr('width', svgWidth)
            .attr('height', svgHight);

    // 设置标题
        svg.append('text')
            .attr('x', svgWidth / 2 - 220)
            .attr('y', 30)
            .attr('class', 'title')
            .text('');

    // 创建比例尺
        var xScale = d3.scale.linear()
            .domain([d3.min(dataset, function(d) {return d[0];}), d3.max(dataset, function(d) {return d[0];})])
            .range([padding, svgWidth - padding * 2]);

        var yScale = d3.scale.linear()
            .domain([d3.min(dataset, function(d) {return d[1];}), d3.max(dataset, function(d) {return d[1];})])
            .range([svgHight - padding, padding]);

        var rScale = d3.scale.linear()
            .domain([0, d3.max(dataset, function(d) {
                return d[1];
            })]).range([2, 4]);

    // 设置散点的坐标, 半径
        svg.selectAll('circle')
            .data(dataset)
            .enter()
            .append('circle')
            .attr('cx', function(d) {
                return xScale(d[0]);
            })
            .attr('cy', function(d) {
                return yScale(d[1]);
            })
            .style('stroke','white')
            .attr('fill','red')
            .attr('r',4);
    </script>

</div>