<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HDA</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../static/css/sb-admin.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="/index">HDA</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/upload">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Main</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" href="/statistics">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Statistics</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/projection">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Projection</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/cluster">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Cluster</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/visualization">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Visualization</span>
                </a>
            </li>

        </ul>

    </div>

</nav>

<div class="content-wrapper">

    <div class="container-fluid">

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>HDA</small>
                </div>
            </div>
        </footer>

        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </div>

    <div>
        <input class="btn btn-default" type="submit" onclick="showAtRight('/visualization/parallel_coordinates')" value="Parallel Coordinates">
        <input class="btn btn-default" type="submit" onclick="showAtRight('/visualization/radviz')" value="Radviz">
        <input class="btn btn-default" type="submit" onclick="showAtRight('/visualization/scatter')" value="Scatter">
    </div>

    <div id="content"></div>

    <br><br>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>

</div>

<script>
        function showAtRight(url){
            $.ajax({
                type :"GET",
                url : url,
                dataType:"html",
                success : function(data) {//返回数据根据结果进行相应的处理
                    $("#content").html(data);
                },
                error:function(){
                    $("#content").html("获取数据失败！");
                }
            });
        }
    </script>

</body>

</html>
