<!DOCTYPE html>
<html lang="en" style="background: #e9f2f3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataWorkshop</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/static/css/tooplate-style.css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background: #e9f2f3">
<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation" style="background: black">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="smoothScroll"><a href="/index" id="home_page">Home</a></li>
                <li class="smoothScroll">
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                <li class="user_img smoothScroll"><a href="/user/">
                    <div class="to3" style="margin-top: -10px;">
                        <div class="to2">
                            <div class="to1">
                                <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li class="smoothScroll">
                    <a id="user_username" href="/user/">
                        {{ user.username }}
                    </a>
                </li>
                <li class="smoothScroll"><a href="/login/" class="page-scroll">Quit</a></li>
                {% if user.permission==100 %}
                    <li class="smoothScroll">
                        <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                    </li>
                {% endif %}
            </ul>
            <script>
                var permi = '' +{{ user.permission }};
                console.log("permission:", permi);
                switch (permi) {
                    case "1":
                        $('.to3').css('background-color', '#aac4bc');
                        break;
                    case "2":
                        $('.to3').css('background-color', '#ae853b');
                        break;
                    case "3":
                        $('.to3').css('background-color', '#dfdc5d');
                        break;
                    case "100":
                        $('.to3').css('background-color', '#ede4b8');
                        break;
                    default:
                        $('.to3').css('background-color', 'white');
                }
            </script>
        </div>

    </div>
</div>

{##}
{#<nav id="menu" class="navbar navbar-default navbar-fixed-top">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1">#}
{#                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand page-scroll" href="#page-top">DaGoo!</a>#}
{#        </div>#}
{##}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li><a href="/index" id="home_page">Home</a></li>#}
{#                <li>#}
{#                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>#}
{#                </li>#}
{#                <li class="user_img"><a href="/user/">#}
{#                    <div class="to3" style="margin-top: -10px;">#}
{#                        <div class="to2">#}
{#                            <div class="to1">#}
{#                                <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a id="user_username" href="/user/">#}
{#                        {{ user.username }}#}
{#                    </a>#}
{#                </li>#}
{#                <li><a href="/login/" class="page-scroll">Quit</a></li>#}
{#                {% if user.permission==100 %}#}
{#                    <li>#}
{#                        <a href="/admin/?manager={{ user.username }}" class="">manage</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#            <script>#}
{#                var permi = '' +{{ user.permission }};#}
{#                console.log("permission:", permi);#}
{#                switch (permi) {#}
{#                    case "1":#}
{#                        $('.to3').css('background-color', '#aac4bc');#}
{#                        break;#}
{#                    case "2":#}
{#                        $('.to3').css('background-color', '#ae853b');#}
{#                        break;#}
{#                    case "3":#}
{#                        $('.to3').css('background-color', '#dfdc5d');#}
{#                        break;#}
{#                    case "100":#}
{#                        $('.to3').css('background-color', '#ede4b8');#}
{#                        break;#}
{#                    default:#}
{#                        $('.to3').css('background-color', 'white');#}
{#                }#}
{#            </script>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

<div style="padding-top: 90px; background-color: #e9f2f3">
    <div class="mdui-tab mdui-tab-centered" mdui-tab>
        <a href="#homepage" class="mdui-ripple mdui-tab-active">Homepage</a>
        <a href="#code" class="mdui-ripple">MyCode</a>
        <a href="#reporter" class="mdui-ripple">MyReport</a>
        <a href="#VIP_intro" class="mdui-ripple">VIP introduction</a>
    </div>
    <div id="homepage" class="mdui-p-a-2">

        <div class="homepage mdui-theme-accent-blue">
            <div class="mdui-textfield" style="height: 150px">
                <i class="mdui-icon material-icons" style="margin: auto 0">photo</i>
                <a onclick="$('#pic_file').click()">
                    <img class="to0" id="pic_img"
                         src="/static/user/{{ user.email }}/img/user_img.jpg">
                </a>
                <div class="mdui-textfield-helper">Click the picture to change. Please upload .jpg.</div>
                <input type="file" name="file" id="pic_file" style="display: none;" onchange="changePic(this)">

            </div>
            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">email</i>
                <input id="change_email" class="mdui-textfield-input" type="email" disabled value="{{ user.email }}"/>
                <div class="mdui-textfield-error"></div>
            </div>


            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">face</i>
                <form style="margin-left: 60px;">
                    <label class="mdui-radio">
                        <input type="radio" name="group1"
                               {% if user.gender==True %}checked{% endif %} value="male"/>
                        <i class="mdui-radio-icon"></i>
                        male
                    </label>

                    <label class="mdui-radio">
                        <input type="radio" name="group1"
                               {% if user.gender==False %}checked{% endif %} value="female"/>
                        <i class="mdui-radio-icon"></i>
                        female
                    </label>
                </form>
            </div>

            <div class="mdui-textfield" id="change_username_title">
                <i class="mdui-icon material-icons">account_box</i>
                <label class="mdui-textfield-label">User name</label>
                <input id="change_username" class="mdui-textfield-input" type="text" required maxlength="12"
                       minlength="4" value="{{ user.username }}" pattern="\w{4,12}"/>
                <div id="change_username_helper" class="mdui-textfield-helper">Consists of 4-12 letters, numbers, or
                    "_"
                </div>
                <div id="username_default" style="display: none">{{ user.username }}</div>
            </div>

            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">lock</i>
                <label class="mdui-textfield-label">Paaword</label>
                <input id="change_password" class="mdui-textfield-input" type="password" required maxlength="16"
                       minlength="6" value="{{ user.password }}"/>
                <div class="mdui-textfield-helper">Consists of 6-16 letters, numbers, or "_"</div>
            </div>

            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">textsms</i>
                <label class="mdui-textfield-label">Signature</label>
                <input id="change_signature" class="mdui-textfield-input" type="text" maxlength="20"
                       value="{{ user.signature }}"/>
                <div class="mdui-textfield-helper">No longer than 20 words</div>
            </div>
            <div class="mdui-textfield">
                <button id="change" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">Save
                    Changes
                </button>
            </div>
        </div>
    </div>
    <div id="code" class="mdui-p-a-2">
        <div style="width: 1000px;margin:0 auto;">
            <div class="mdui-panel" mdui-panel>
                <div class="mdui-panel-item">
                    <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">Clean</div>
                        <div class="mdui-panel-item-summary">Your code of clean:</div>
                        <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="mdui-panel-item-body">
                        <div class="mdui-panel" mdui-panel>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">First</div>
                                <div class="mdui-panel-item-body">
                                    <p>First code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">Second</div>
                                <div class="mdui-panel-item-body">
                                    <p>Second code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="mdui-panel" mdui-panel>
                <div class="mdui-panel-item">
                    <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">Statistic</div>
                        <div class="mdui-panel-item-summary">Your code of Statistic:</div>
                        <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="mdui-panel-item-body">
                        <div class="mdui-panel" mdui-panel>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">First</div>
                                <div class="mdui-panel-item-body">
                                    <p>First code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">Second</div>
                                <div class="mdui-panel-item-body">
                                    <p>Second code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="mdui-panel" mdui-panel>
                <div class="mdui-panel-item">
                    <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">Mining</div>
                        <div class="mdui-panel-item-summary">Your code of mining:</div>
                        <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="mdui-panel-item-body">
                        <div class="mdui-panel" mdui-panel>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">First</div>
                                <div class="mdui-panel-item-body">
                                    <p>First code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">Second</div>
                                <div class="mdui-panel-item-body">
                                    <p>Second code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="mdui-panel" mdui-panel>
                <div class="mdui-panel-item">
                    <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">Visualization</div>
                        <div class="mdui-panel-item-summary">Your code of visualization:</div>
                        <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="mdui-panel-item-body">
                        <div class="mdui-panel" mdui-panel>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">First</div>
                                <div class="mdui-panel-item-body">
                                    <p>First code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                            <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">Second</div>
                                <div class="mdui-panel-item-body">
                                    <p>Second code</p>
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-panel-item-close>cancel</button>
                                        <button class="mdui-btn mdui-ripple">save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div id="reporter" class="mdui-p-a-2">大家好</div>
    <div id="VIP_intro" style="margin-left: 75px;" class="mdui-p-a-2">
        <div class="intro_table">
            <table border=1 cellpadding=10 cellspacing=0>
                <tr>
                    <th class="title">Privilege</th>
                </tr>
                <tr>
                    <th>Price</th>
                </tr>
                <tr>
                    <th>Symbol</th>
                </tr>
                <tr>
                    <th>Clean</th>
                </tr>
                <tr>
                    <th>Statistic</th>
                </tr>
                <tr>
                    <th>Cluster</th>
                </tr>
                <tr>
                    <th>Projection</th>
                </tr>
                <tr>
                    <th>Visualization</th>
                </tr>
                <tr>
                    <th>Gerneralize report</th>
                </tr>
                <tr>
                    <th>Embed code</th>
                </tr>
                <tr>
                    <th>Expert analysis</th>
                </tr>
            </table>
        </div>
        <div class="intro_table">
            <table border=1 cellpadding=10 cellspacing=0>
                <tr>
                    <th class="title">General</th>
                </tr>
                <tr>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>
                        {#                        <div class="to4">#}
                        {#                            <img src="/static/img/vip.png" class="to">#}
                        {#                        </div>#}
                        <div class="to3">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/service/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>Kmeans</td>
                </tr>
                <tr>
                    <td>PCA</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>1 time/day</td>
                </tr>
                <tr>
                    <td>￥10/time</td>
                </tr>
                <tr>
                    <td>￥100/time</td>
                </tr>
            </table>
        </div>
        <div class="intro_table">
            <table border=1 cellpadding=10 cellspacing=0>
                <tr>
                    <th class="title">Silver</th>
                </tr>
                <tr>
                    <td>￥19/month</td>
                </tr>
                <tr>
                    <td>
                        {#                        <div class="to4" style="background-color: #aac4bc">#}
                        {#                            <img src="/static/img/vip.png" class="to">#}
                        {#                        </div>#}
                        <div class="to3" style="background-color: #aac4bc">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/service/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>5 times/day</td>
                </tr>
                <tr>
                    <td>￥5/time</td>
                </tr>
                <tr>
                    <td>￥80/time</td>
                </tr>
            </table>
        </div>
        <div class="intro_table">
            <table border=1 cellpadding=10 cellspacing=0>
                <tr>
                    <th class="title">Gold</th>
                </tr>
                <tr>
                    <td>￥59/month</td>
                </tr>
                <tr>
                    <td>
                        {#                        <div class="to4" style="background-color: #ae853b">#}
                        {#                            <img src="/static/img/vip.png" class="to">#}
                        {#                        </div>#}
                        <div class="to3" style="background-color: #ae853b">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/service/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>10 times/day</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>￥50/time</td>
                </tr>
            </table>
        </div>
        <div class="intro_table">
            <table border=1 cellpadding=10 cellspacing=0>
                <tr>
                    <th class="title">Platinum</th>
                </tr>
                <tr>
                    <td>￥199/month</td>
                </tr>
                <tr>
                    <td>
                        {#                        <div class="to4" style="background-color: #dfdc5d">#}
                        {#                            <img src="/static/img/vip.png" class="to">#}
                        {#                        </div>#}
                        <div class="to3" style="background-color: #dfdc5d">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/service/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>√</td>
                </tr>
                <tr>
                    <td>1 time/day</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/mdui.min.js"></script>